[2022-07-26 13:33] JeffersGlass commented on #619
@archsr I'm not super familiar with that package, but assuming it's [this MySQL Connector](https://dev.mysql.com/doc/connector-python/en/), its name on PyPI is [mysql-connector-python](https://dev.mysql.com/doc/connector-python/en/connector-python-installation-binary.html). That will resolve the micropip issue:

[code]

However, the ssl module is currently in early development stages in Pyodide, s

[2022-07-26 16:10] hellozeyu commented on #595
Not sure if this is super related, but we created a WordPress plugin around Pyscript, and most of the examples work on the site. However, it always throws this error when we try to read a remote csv file in pandas or even just read a remote URL. Is this related to encoding? The weird thing is the other examples, including the matplotlib one works.

![image](https://user-images.githubusercontent.co

[2022-07-27 02:29] mitsuo0114 commented on #528
Hi, I've got same error when I misconfigure `py-config`.

See Correct case [1], and Wrong case [2]
Both yaml in `py-config` should be correct YAML format. But these cause structure difference ([3], [4]).

and the example on `get-started.md` is showing wrong one.
https://github.com/pyscript/pyscript/blob/main/docs/tutorials/getting-started.md#the-py-config-tag

I'm not familiar with how appConfig.w

[2022-07-27 03:40] archsr commented on #619
@JeffersGlass You are correct, I now see ssl module error.

`Traceback (most recent call last):
  File "/lib/python3.10/site-packages/_pyodide/_base.py", line 429, in eval_code
    .run(globals, locals)
  File "/lib/python3.10/site-packages/_pyodide/_base.py", line 300, in run
    coroutine = eval(self.code, globals, locals)
  File "<exec>", line 2, in <module>
  File "/lib/python3.10/site-package

[2022-07-27 04:07] archsr commented on #619
Jut went through the issue #381 So no possible way to use mysql a this point due to security limitations.

[2022-07-27 06:24] do-me commented on #595
Hi @hellozeyu this is not related as your URL is simply wrong. You're trying to read a csv from the GitHub landing page `https://github.com/`. Insert the real link (raw csv file, not the repo) and it should work. E.g. [this one](https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-andamento-nazionale/dpc-covid19-ita-andamento-nazionale.csv).

[2022-07-27 06:26] do-me commented on #595
Ah sorry, thought this was pandas-related. You cannot work with the urllib or requests package in pyscript but need to use the pyodide alternatives. See [this example](https://geo.rocks/post/pyscript/#a-simple-pandas-example).

[2022-07-27 14:12] hellozeyu commented on #595
Got it. It works for me. Thanks!

[2022-07-28 03:40] JoeyEamigh commented on #162
if you run `await micropip.install('ssl')` it works btw

[2022-07-28 15:39] tiran opened #633 "Improve documentation and error reporting for lack of networking in Pyodide and PyScript"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a duplication
- [X] I already searched in Google and didn't find any good information or help

### What is the issue/comment/problem?

It appears to me that lots of users are surprised by the fact that networked-based Python programs do not work in Pyodide and PyScript. They try to use Python packa

[2022-07-28 16:12] tiran commented on #633
- https://github.com/pyscript/pyscript/issues/91
- https://github.com/pyscript/pyscript/issues/162
- https://github.com/pyscript/pyscript/issues/413
- https://github.com/pyscript/pyscript/issues/524

[2022-07-28 17:40] fpliger opened #634 "[622] py-script should always output to console"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other feature requests and couldn't find a duplicate (including also the ``type-feature`` tag)
- [X] I confirmed that it's not related to another project area (see the above section)

### What is the idea?

Given the context of #622 we need to split outputting (for debugging) from rendering.

### Why is this needed

see #622

##

[2022-07-28 18:00] fpliger opened #635 "[622] py-script should only render to the page through the `display` function"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other feature requests and couldn't find a duplicate (including also the ``type-feature`` tag)
- [X] I confirmed that it's not related to another project area (see the above section)

### What is the idea?

In order to disambiguate debugging output and rendering to the page, we want to add a new `display` function that can be ca

[2022-07-29 00:33] marimeireles commented on #633
That's a great point @tiran, thanks for exposing it and marking the relevant issues here.
I can't tackle it right now, but if you or anyone else would like to pick it up, it'd be awesome =)

[2022-07-29 00:52] #629 closed

[2022-07-29 03:25] ksharma20 opened #637 "Can we use a python server (like in Django manage.py runserver), instead of depending on Node & npm ?"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other feature requests and couldn't find a duplicate (including also the ``type-feature`` tag)
- [X] I confirmed that it's not related to another project area (see the above section)

### What is the idea?

This feature will allow the users to work **_independent of node_** and its *respective dependencies*.
Most of the develope

[2022-07-29 10:30] tiran commented on #610
@rth @rth @antocuni what is the progress of your investigation? Python 3.11rc1 will be released in a week from now. I can still address minor problems in 3.11 until mid next week. Once rc1 is out, the window of opportunity is closed.

[2022-07-29 13:29] JeffersGlass commented on #546
Is anyone working on this? I'd be happy to give it a shot.

For access and format, I'd suggest the following, similar to both sys.version_info and [what IPython does](https://github.com/ipython/ipython/blob/c97f6d2ebb9a2eee5bc6531ecaf96dcb0649dadd/IPython/core/release.py#L18-L33): :

`pyscript.version_info()` returns a namedtuple(year, month, day, releaselevel, serial)
`pyscript.__version__` retur

[2022-07-29 13:44] JeffersGlass commented on #611
I suspect Cloudflare's minifier is stripping whitespace out of your python code, while leaving the newlines intact. So your first code block (with everything on the same indentation level) works while your second (which relies on the indented block of `label.set_color('blue')`) doesn't.

Possibly the easiest solution is to make use of the `src` attribute for the pyscript tag to load your script fr

[2022-07-29 13:46] antocuni commented on #610
@tiran I got busy with other things so I haven't started yet :(

[2022-07-29 15:40] antocuni opened #639 "make examples doesn't work"
I'm running this on linux, so it might be a difference between `sed` in mac os vs linux, but I get the following:

[code]

[2022-07-29 15:51] antocuni opened #640 "PR 598 broke the todo-list example"
More details in this comment:
https://github.com/pyscript/pyscript/pull/598#issuecomment-1199549808

I don't know if it might depend on the version of `node`, but in case it helps, I'm using v18.5.0.

[2022-07-29 16:28] june9713 opened #641 "No module named 'utils' on simple_clock.html"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a duplication
- [X] I already searched in Google and didn't find any good information or help

### What is the issue/comment/problem?

I fully download this repo and run simple_clock.html file in examples folder by Chrome.
but it returns red errors, main massage is
No module named 'utils'
Anybody h

[2022-07-31 04:12] ymd-h commented on #528
I encountered the same issue.

If we look generated CDN script, the error happens at `Object.assign({}, ...loadedValues)`.
If we obeys the document, `js-yaml.load` returns `Object` (not `Array`), spread operator becomes error.

https://pyscript.net/alpha/pyscript.js

[code]

Semantically, `<py-config>` includes only a single config entry, so that I think it is better to keep config syntax at the d

[2022-07-31 05:13] mitsuo0114 commented on #528
Thanks to @ymd-h 's post, I identify these parts are fixed recently in PR[1] and fixed on unstable version [2]
According to "last-modified" HTTP response header in /alpha/pyscript.js, it was released Thu, 19 May 2022 17:58:53 GMT.

[1]
https://github.com/pyscript/pyscript/pull/457/files#diff-564ff679a21992ceb7761245d07c014eba65f5ae15beaffe9ac0b7da771f987a

https://pyscript.net/unstable/pyscript.js

[2022-07-31 05:32] ymd-h commented on #528
@mitsuo0114
Thank you for your quick reply!

I also confirmed the unstable version worked well.

[2022-08-01 02:42] JeffersGlass commented on #641
The issue is that the Pyscript code (via py-env) is looking for a file called 'utils.py' and can't find one, though you've probably guessed that. Here's why:

By their very nature, browsers **do not** want websites to access things on your hard disk. You wouldn't want Twitter to be able to see your spreadsheets, right? If you're opening the example by, say, using _File > Open_ in Chrome, or clicki

[2022-08-01 03:46] dust-to-dust commented on #637
Agree with your point of view, and dependent files(.whl) should be provided by the server instead of CDN(too slow)

[2022-08-01 14:34] SkriiL commented on #635
Sorry for the commit spam. Should not include the issue number in the commit message next time.
Is there a way i can unlink them from the issue?

[2022-08-02 10:27] #639 closed

[2022-08-03 00:56] mdlattimore opened #654 "Error in simple_bioinformatics_tool.html example"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a duplication
- [X] I already searched in Google and didn't find any good information or help

### What is the issue/comment/problem?

Not a bug, but a syntax error in the simple_bioinformatics_tool.html file, found in the examples folder. Lines 52 and 53 attempt to call functions via onClick event

[2022-08-03 08:20] junnei opened #655 "[py-repl] output-mode="replace" attribute works?"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

In <py-repl> tag, **output-mode="replace"** attribute doesn't work.

In my case,
[code]
its output always be appended. how could I change output-mode to "replace" ?

### Wh

[2022-08-03 08:23] madhur-tandon commented on #654
Hi @mdlattimore

I am not able to reproduce this locally.

It might be possible that you are running the server from the wrong directory.

If you are using `npm run dev`, then probably the command is buggy since it isn't able to locate the `build/pyscript.js` file.

[2022-08-03 09:17] antocuni opened #656 "Examples should NOT point to /latest/"
Currently, some of our examples are broken "out of the box".
For example, look at issue #654; to reproduce:
- `git clone git@github.com:pyscript/pyscript.git` (at the time of writing, the latest commit is 2a59ff8)
- open `pyscript/example/simple_bioinformatics_tool.html` *directly* in the browser, without doing `make examples`
- observe that the buttons don't respond.

This specific reproducer was

[2022-08-03 09:24] antocuni commented on #654
@mdlattimore thanks for the report and sorry for the confusion!
The short version is that as you discovered, our current examples are broken out of the box, see #656 for details.
The easiest way to fix them is to modify the URLs to point to `pyscript.net/unstable/` instead of `pyscript.net/latest/`.

[2022-08-03 09:39] antocuni commented on #656
this might be a good idea. We could write that the main `pyscript` repo is ONLY for people who wants to modify pyscript itself, and that if you just want to play with it, you should clone `pyscript-collective` and start from the examples.

But I'm not in the position of doing such a call. Let's wait for @fpliger opinions.

[2022-08-03 09:43] marimeireles commented on #656
Okay, that makes total sense, thank you so much @antocuni and @madhur-tandon for jumping into this :)

I agree with everything you said here @antocuni, I have some things to add, but I don't think they're going against your points.

What I've been thinking about the examples for a while now (and that's part of the reason we started the collective, thanks Madhur) is that the examples we're using fo

[2022-08-03 09:50] antocuni commented on #656
Yes, I agree. Currently we are using the examples as tests because it's the only thing that we have, but eventually we should write proper and smaller tests.

[2022-08-03 09:53] marimeireles commented on #656
Yeah, I'm slowly making progress on it!
I hope to post something today by the end of the day.

[2022-08-03 11:22] mdlattimore commented on #654
Thanks to both of your for your responses.
@antocuni, I did point to `/unstable/` and, of course that did the trick. Thanks for the explanation in #656. It cleared everything up for me.

[2022-08-03 11:22] #654 closed

[2022-08-03 13:49] JeffersGlass commented on #655
Are you using the alpha release of pyscript, as in the examples? The `output-mode` attribute was introduced in  [#439 - REPL output replacement](https://github.com/pyscript/pyscript/pull/439), and so wasn't present in the alpha versions of pyscript. It appears to be working in the more recent builds.

To make use of the `output-mode` attribute, make sure you're linking to one of the more recent bu

[2022-08-03 13:56] pww217 commented on #656
I think that all makes sense. If we had proper tests that made show examples worked properly instead of simply loaded at all, then pointing them to latest would probably work. For now unstable is probably the right way to go.

[2022-08-03 14:20] antocuni commented on #656
I don't understand. Why having proper tests would make `latest` work?
My point is that `latest` can never reliably work because `latest` and the `main` branch inevitably drift away.

Tests would help to detect that they stopped working, but then we would not really have any solution for that, because in case of a breaking change, we have to decide: either we keep them working with `/latest/`, or w

[2022-08-03 14:30] pww217 commented on #656
I guess I should have said they'd be more likely to catch broken tests when they occur, but yes they would not provide a fix and therefore block deployments.

So I'm 100% fine moving them to unstable. I think they'll still break with unstable but it'll be easier to track why it broke, at least.

[2022-08-03 17:57] fpliger commented on #656
Wow, a lot to chime here :)

I think the fundamental problem here is that we are not looking at the examples as having the same purpose. Before we align on what we should do with the examples, we should align what is their purpose.

Initially, the examples were implemented pointing locally and that's it. To run them you'd need to clone the repo and build and run the examples. After feedback from o

[2022-08-03 18:11] fpliger opened #657 "output_manager.change should not be injected in the same code exec call"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

Currently, when we evaluate code, we inject `output_manager.change` to redirect output (stdout and stderr) to whatever the user specified. This is invasive and borks the co

[2022-08-03 18:33] junnei commented on #655
@JeffersGlass Thx :) 👍🏻 👍🏻

[2022-08-03 18:33] #655 closed

[2022-08-03 18:58] pww217 commented on #656
Thank you @fpliger, I agree with all of that. I forgot the fact that we had changed the example sync to pyscript.net  https://github.com/pyscript/pyscript/pull/623 and that the publicly-hosted examples there should update in lockstep with stable releases. So in that sense we want the base files to point to /latest/.

The other use cases (being local runs and not-so-robust tests) can be accomplishe

[2022-08-03 19:39] junnei opened #658 "[Py-repl] result being outside of code block"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

<img width="726" alt="image" src="https://user-images.githubusercontent.com/41983244/182694422-561c044b-ad86-4b71-b124-58495fca982e.png">

The code that should be in the bl

[2022-08-03 19:57] fpliger commented on #656
![Cheers](https://media.giphy.com/media/2wYYlHuEw1UcsJYgAA/giphy.gif)

I'm not sure I understand this statement. Can you clarify?

[2022-08-03 20:03] pww217 commented on #656
Well the tests as they exist currently don't actually make sure examples work correctly, just that they've rendered in some way or another. So it'll allow deployments to go ahead even if they're broken sometimes.

Basically just means for now we should verify they work after stable releases on pyscript.net.

[2022-08-03 20:07] fpliger commented on #656
Ah, yeah, gotcha. We can improve these examples tests (by testing some of the functionality for instance) to be a bit more confident that they "work" through playwright but I think it'll be best practice to always manually check/smoke test them before we roll out a new release.

[2022-08-03 20:07] JeffersGlass commented on #658
Interesting - the fact that it resolves when refreshing implies to me that perhaps pyscript.js is not loading very quickly the first time, and the second time it resolves from a cached copy. But perhaps it's something else:

A handful of questions:

- What browser are you using?
- What internet speed are you reliably achieving?
- Does this happen for `<py-script>` tags as well, or just `<py-repl>`

[2022-08-03 20:56] fpliger opened #659 "Higher Level Python API Design"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other feature requests and couldn't find a duplicate (including also the ``type-feature`` tag)
- [X] I confirmed that it's not related to another project area (see the above section)

### What is the idea?

The pyscript python API is currently rushed and not well thought. A lot of things are in globals and should not pollute the

[2022-08-03 21:08] fpliger opened #660 "Create boilerplate for running TS tests"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other feature requests and couldn't find a duplicate (including also the ``type-feature`` tag)
- [X] I confirmed that it's not related to another project area (see the above section)

### What is the idea?

We don't have TS tests and we should

### Why is this needed

Quality

### What should happen?

We should at least have the

[2022-08-04 01:43] JeffersGlass commented on #619
Agreed - believe this can be closed as _wontfix_ or perhaps _wontfix-upstream_.

[2022-08-04 10:51] marimeireles commented on #656
I think I agree with everything here. Just reiterating that some tests should be moved e.g the Mario one has too many dependencies and things we don't really care about, it's just hard to maintain (cause we'll be maintaining other work that's not relevant to pyscript).

[2022-08-04 11:24] antocuni commented on #656
I agree with all of the above. The point which IMHO causes troubles is this:

I agree it would be nice, but it causes more troubles than it solves. To start with, only the very simple examples work out of the box: all the examples which reference external files don't work, so the hypotetical user will be very confused because half of them work and half don't.

Moreover, as I explained above, there

[2022-08-04 15:22] pww217 commented on #656
If it makes more sense, I don't think it would be that hard to hardcode the examples to use local files and then point them to pyscript.net in the CI when they are synced to pyscript.net/examples along with a latest release. Basically just reversing the current sed flow which takes the URL and converts it to a local path.

This kind of flow makes more sense because we can alter the repo files/runt

[2022-08-04 15:59] fpliger commented on #656
Overall agree with both @antocuni and @pww217 above. Only think we need to shave some edges on these parts of the proposal:

That's a great proposal and we actually talked about this (or something very close) before. I think this should be an extension or something and not too custom to examples. This, actually, doesn't *need* to be a part of "fixing" the current state and could be an enhancement

[2022-08-04 16:48] antocuni commented on #656
re @pww217

yes I agree, that's what I was thinking.

---

re @fpliger

I'm confused. In my proposal, files in the `examples/` directory will have the following (or similar):
[code]

So, if you open the HTML directly in the browser, `pyscript.js` will not be found and extensions will never work.
The "custom logic" I'm thinking about is something along these lines:
[code]

Then, in every examples,

[2022-08-04 17:28] fpliger commented on #656
Aaaaaah, gotcha! I think we already had something like that because of cors but, if not, sounds like a plan!

Cheers!! 🍻🍻

[2022-08-04 21:02] fpliger commented on #485
I think this is a composite issue... the issue on `py-button` and `py-input` themselves should have been resolved but some of the issues bubbling up in examples are related to some of the recent changes to examples and [lack of] tests. We are planning a release this month and I think a lot of the related issues will be fixed (and more visible)

[2022-08-05 13:14] nwatab opened #667 "Python Built-in function "type" doesn't work"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

1. Go to https://pyscript.net/examples/repl.html
2. Write "type(1)" in a <pr-repl></pr-repl> cell
3. Execute
4. No output is shown

Instead, <class 'int'> should be shown a

[2022-08-05 15:44] marimeireles commented on #614
I think this can be closed as complete thanks to Phillip work, now we're iterating on different things.

[2022-08-05 15:44] #614 closed

[2022-08-05 16:43] JeffersGlass commented on #667
The short answer is: There's a large overhaul happening to how Pyscript handles rendering to the screen vs outputting to the console (#662), so I expect issues like this to be subsumed into that overhaul.

To address this specifically: this is an open issue with how Pyscript outputs from REPLs - the output is interpreted as HTML, and the browser interprets `<class 'int'>` to be an HTML tag it does

[2022-08-05 16:50] #657 closed

[2022-08-05 19:10] JeffersGlass commented on #635
A couple of edge details I'd propose:

## Exceptions

### Exceptions Should Show Up Onscreen

I'd propose that if an object fails to render (e.g. if an exception is raised when processing the object through the rendered mapper, or in the objet's __repr__, etc) that _something_ still be rendered to the DOM in the specified location. Since the intent is to present objects onscreen, failure's should

[2022-08-05 20:14] JeffersGlass commented on #622
I'm going to go out on an limb here and propose a change:

- by default, print() outputs to the js console _**and to the page**_

I'm prosing this as an improvement for those coming to PyScript for the first time, for whom the first question might be: _"If I have a working Python script, what do I need to do to use it in py-script?"_

Currently the answer is (à la the [Try PyScript](https://github

[2022-08-06 18:04] june9713 commented on #641
Wow!! Great answer for stupid question. Very thank you for your kindness. I perfectly understand it. Thank you so mucj

[2022-08-06 18:05] #641 closed

[2022-08-07 20:30] antocuni commented on #635
I agree, exceptions should not be silent. Although this is probably an discussion which is orthogonal from this particular issue and should probably be discussed elsewhere.

I would make it even more extreme and propose that exception should _never_ be silent, even if they are raised outside a `display()` call.

I like the idea. Probably we can extend it to have also a per-page error handler. I.e.

[2022-08-08 05:58] nwatab commented on #667
@JeffersGlass
Thanks! The problem is clear now. Just out of curiosity, why don't you convert a standard output into string to show an output as it is on python side?

I came across another similar problem (I'm refraining to create multiple issues). When you type 0.1 + 0.9 in py-repl, the output shows 1, instead of 1.0. I assume it is because javascript interprets 1.0 as 1.

[2022-08-08 11:46] bwinkers commented on #180
If this moves forwards ping me, I'll follow and may be able to contribute.

[2022-08-08 12:54] JeffersGlass commented on #667
While I can't speak directly to your first question, your thoughts about the second question are spot-on. By default, \<py-repl\> (and  all the executable tags, including \<py-script\>) return the value of the final expression to the javascript function `pyodide.runPython()`.... PyScript then puts this output on the screen. And because JS only has one number type, it outputs 1.0 as `1`.

This is a

[2022-08-08 12:55] JeffersGlass commented on #667
For what it's worth, you can disable the behavior of outputting the final expression, if you want, by ending the final line with a semicolon, which is sometimes useful if your final line is a function that you're using for its side effects but also returns a value. (Not sure why'd you want that in a REPL, but useful in scripts). A silly example:

[code]

[code]

To hide the final '3', you can add

[2022-08-08 14:50] nwatab commented on #667
@JeffersGlass
Thanks for the detailed explanation. Yes, it's worthwhile to fix the I/O. It would be nice if you could customize the output from python on python side before passing it to javascript. I'm making a python tutorial website, and it will have few interactions between python and javascript. I'm thinking to create a simple wrapper of py

Thanks for clarification of the semicolon at the en

[2022-08-09 01:46] nwatab opened #670 "Javascript casts Python's output float into number"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

Let's say you want to do some calculation. In Python,
0.1 + 0.9 is 1.0
However, in pyscript, float 1.0 is passed to javascript and it interprets as 1 because Javascript sho

[2022-08-09 03:36] LosPhilly opened #671 "Qiskit does not load"
Qiskit taking a long time to load in the browser

[2022-08-09 03:57] karolyjozsa commented on #519
I needed the same for demoing my package on the web without forcing users to install my package. Well, I also need it for development, i.e. need the changing Python modules in the local package on-the-fly (compiling wheel every time is not a solution for me). So I created a patched version of PyScript, see attached, by modifying 2 of the .ts files (and the compiled .js). I also created a README fo

[2022-08-09 07:39] jaegersb opened #672 "RPi.GPIO is not a pure Python 3 wheel"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

I created a script that reads 3 pins from a Raspberry Pi  and prints them (Low, Med, High), e.g.
if GPIO.input(11) == GPIO.HIGH: print ('Low')

To pull the input I loaded t

[2022-08-09 13:25] antocuni commented on #672
The error message that you are getting is correct: `RPi.GPIO` is *not* a pure python wheel and thus cannot be installed by pyscript, as explained by the [Pyodide docs](https://pyodide.org/en/stable/usage/loading-packages.html). Look at the name of the wheel:
[code]
The suffix `-linux_armv7l` means that it's a platform specific wheel compiled for ARM CPUs and for linux. PyScript/Pyodide work in the

[2022-08-09 13:32] antocuni opened #673 "JS TypeError triggered by PyButton.connectedCallback"
This is a bug which was discovered while developing #663 .
If you try to execute `TestPyButton.test_on_click`:
https://github.com/pyscript/pyscript/blob/3d372f797658eb4e914682563bb75ba10b131d7e/pyscriptjs/tests/test_py_button.py#L6-L34

You notice that it raises the following JS exception:
[code]

I didn't investigate further, but it seems something which should be fixed.

~Assuming that #663 will

[2022-08-09 13:38] ntoll commented on #672
Hi.

My colleague @antocuni is correct. The author of the GPIO module is a friend of mine, and I can confirm it is not pure Python and targets the RPi platform only (which means it won't work in the browser). Antonio's point about the sandboxed nature of the browser environment also makes control of the GPIO pins impossible.

Sorry to be the bearer of bad news.

[2022-08-09 14:14] jaegersb commented on #672
Thanks for the explanation. I am only trying to read GPIO status, not control them.
It works using Flask (even to control), but takes many lines of code.
I hoped I could cut things short, but then I'll stay on the Flask for now and check in future releases here.

Thanks - JJ

[2022-08-09 17:03] LoreBadTime opened #674 "Implement document.queryselectorall()"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other feature requests and couldn't find a duplicate (including also the ``type-feature`` tag)
- [X] I confirmed that it's not related to another project area (see the above section)

### What is the idea?

If is needed to add a class to multiple elements or do something to multiple things,is needed the use of js
Like this
`
for

[2022-08-10 08:06] antocuni commented on #672
that's irrelevant. From the point of view of the browser, the GPIO pins don't even exist, so both reading and writing is impossible.

yes, in Flask it works because in that case your python code runs directly on the raspberry pi, using the "stock python" instead of PyScript. Then, the flask code generates HTML which is then sent to the browser for display, but the actualy GPIO-controlling is made

[2022-08-10 08:06] #672 closed

[2022-08-10 10:30] #617 closed

[2022-08-10 10:35] echarles opened #675 "PyScript npm module?"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a duplication
- [X] I already searched in Google and didn't find any good information or help

### What is the issue/comment/problem?

Is there a pyscript package published in [npm](https://www.npmjs.com/)?

This would be useful as alternative to loading the script from a HTML script tag for third-

[2022-08-10 14:04] antocuni opened #677 "Js TypeError: Cannot read properties of undefined (reading 'setAttribute')"
This is a JS error which is triggered by `examples/panel_stream.html`: it's very likely that it's not a bug in the example but in pyscript itself, so it should be investigated further.

See also the corresponding test in PR #676:
https://github.com/pyscript/pyscript/blob/c308b0679d924a6a4ccdc7b5131f9a28fa0d14ef/pyscriptjs/tests/test_zz_examples.py#L156-L162

This is the full JS traceback:
[code]

[2022-08-10 14:18] antocuni opened #678 "The WebGL example never finishes loading"
The WebGL example shows a very weird behavior, which was discovered by #676 .
The relevant test in the PR is this:
https://github.com/pyscript/pyscript/blob/b90813bed54787ea14b074d58cadc4d17f0e4719/pyscriptjs/tests/test_zz_examples.py#L200-L206

The pytest log is the following (some lines deleted for better readability):
[code]

After that, it never reaches this point, and thus it never prints `==

[2022-08-10 16:45] antocuni opened #679 "[EPIC] Improve test coverage"
This is an open ended issue to encourage to add more tests to improve our coverage.
We recently did a lot of work to improve our test situation:
  - #663 was merged, and added all the necessary machinery to write integration tests
  - #676 is not merged yet but it's a good starting point to improve tests of examples
  - #661 and #665 will enable to write JS and Python unit tests

PRs to add more t

[2022-08-10 17:00] antocuni opened #680 "Improve the JS logging"
Currently, the logs emitted by pyscript are a bit messy and not very useful. For example, this is the log printed by running `test_pyscript_hello`:
![image](https://user-images.githubusercontent.com/344507/183969767-0d3ed28a-772e-40d2-b6db-41d22ec2e153.png)

We should do a big refactoring and make sure that:
1) we print only useful messages (possibly smaller) and we produce a tidier log
2) the mes

[2022-08-10 17:09] kalanakt opened #681 "issue while importing some libraries"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

I tried to import like a [ heroku3, pymongo ] libraries. but the page is not loading.

### What browsers are you seeing the problem on? (if applicable)

Firefox

### Consol

[2022-08-11 11:04] tiran commented on #681
- [heroku3](https://pypi.org/project/heroku3/#files) is a pure Python package without a wheel. It provides only an sdist (source distribution). Pyscript can only import wheels. Please get in contact with the maintainers and ask them to release Python wheel as well. It's an easy fix.
- pymongo is more complicated and likely does not work on Pyscript. It is currently not possible to create raw netwo

[2022-08-11 12:39] KendallDoesCoding opened #682 "error with name = input"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

`name = input("Type your name: ")`

In the commandline, it shows Type your name and user has to input text, but using Pyscript it only shows a input box without the text, t

[2022-08-11 14:02] philippjfr opened #683 "Website and README should discuss versioning scheme"
In [this blog post](https://anaconda.cloud/announcing-pyscript-versioning) we announced the versioning scheme for PyScript going forward which includes alpha, latest, unstable, and CalVar releases that users can leverage in their application. In trying to remember what the different releases mean I discovered that we do not mention this anywhere else and the website and the README exclusively refe

[2022-08-11 14:59] JeffersGlass commented on #682
The issue lies in how Pyodide implements input from stdin - Antocuni gives [a good overview of the issue in #239] (https://github.com/pyscript/pyscript/issues/239#issuecomment-1122366501).

This could be considered a duplicate of that issue.

[2022-08-11 15:34] #682 closed

[2022-08-11 15:34] KendallDoesCoding commented on #682
Hi, thanks for bringing to my notice.

[2022-08-12 17:10] JeffersGlass commented on #316
This was implemented by #561 - this issue can probably be closed.

[2022-08-12 18:00] JeffersGlass opened #685 "`py-on*` event handler code is being executed at load time"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

Py-event handler code being executed at page-load, which differs from Javascript in which the code is only executed when the event is received. i.e, in JS one would write `

[2022-08-13 01:23] Anas-jaf opened #687 "can't get beautifulsoup to run"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

when i run pyscript from the cdn and import beautifulsoup i get the error that there is no module named bs4

![image](https://user-images.githubusercontent.com/63655663/184

[2022-08-13 01:37] Anas-jaf commented on #687
i found solution from YouTube video maybe i didn't read the documentation good
i solved this with< py-env> tag

[2022-08-13 01:38] #687 closed

[2022-08-13 01:38] Anas-jaf commented on #687
found soloution

[2022-08-13 05:16] junnei commented on #658
Thank you for your insight. It might be resolves from a cached copy.

I'm sorry for replying late even though you answered hard. I'll talk about how I solved the problem.

it's because both use of 'defer' and 'async' in script tag.
<script **defer** src="https://pyscript.net/latest/pyscript.js"></script>

I found out that this simple mistake caused an error. Thanks again.

[2022-08-13 05:16] #658 closed

[2022-08-13 07:35] sumahadevan opened #688 "Examples dont work on http://localhost:8080 due to incorrect path to pyscript.js build folder"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

Platforms: Both Ubuntu 22.95 LTS and macOS Monterey

What happened: After installing npm package rollup globally, cloning the repository, executing 'make setup', 'make exam

[2022-08-13 07:38] sumahadevan commented on #688
Platforms are Ubuntu 22.04 LTS and macOS Monterey, typo above.

[2022-08-13 08:19] sumahadevan commented on #678
A similar issue is seen on Ubuntu 22.04 when running another example Panel Streaming Demo, panel_stream.html, on localhost:8080 (after first applying the fix for resolving the pyscript.js path as indicated in #688). Namely, the page displays correctly but the loader screen stays on screen forever.

The same also happens when the example is run by simply double clicking directly on panel_stream.htm

[2022-08-13 09:13] sumahadevan commented on #678
I found one common factor between the two examples which don't finish loading - WebGL and Panel Streaming. Both of them execute a fourth step 'Initializing scripts...' as the last initialization step. On the other hand, examples like Simple Static Bokeh Plot or Simple D3 Visualization which DO finish loading only execute the first three steps (Loading runtime..., Runtime created..., Initializing c

[2022-08-13 11:32] ShirakuGIT commented on #585
Could you assign this to me? I'll try implementing this!

[2022-08-14 10:04] karan-khatri commented on #261
IDM does try to grab all the .tar files that are requested by the browser from any site.
I think you should do some configuration so that IDM is not able to grab the tar file from your server.
When I removed .tar extension from the list of extensions of files the IDM tries to grab, the <py-script> worked perfectly.

[2022-08-14 10:11] karan-khatri commented on #261
This is the list of extensions from which I removed the .TAR extension and everything worked smoothly.
The problem is that doing so will disable me from downloading tar files from every website.

[2022-08-14 19:05] nmstoker commented on #671
Title seems to contradict the contents.🙂
Which is it? Does not load or takes a long time to load?

I suspect it's not a pure Python package and if so, hasn't had the work done to get it importing into Pyodide

[2022-08-16 09:23] marimeireles commented on #585
Hey @ShirakuGIT, thanks for the interest.
This problem was partially addressed by @anirrudh but I'm not sure if they're still on it. @anirrudh, is it okay if @ShirakuGIT take over this issue?
If yes, please feel free to. You can either continue their PR or start one of your own.
Ping me if any doubts arise!
Cheers and thanks.

[2022-08-16 12:35] marimeireles commented on #641
No stupid questions!
I'm sure others are benefiting from it, thanks for asking @june9713 and for replying @JeffersGlass !

[2022-08-16 20:49] pauleveritt opened #693 "Consider replacing SimpleHTTPServer with Playwright interceptor"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a duplication
- [X] I already searched in Google and didn't find any good information or help

### What is the issue/comment/problem?

(I discussed this with @fpliger and said I would make a ticket here.)

PyScript Playwright tests could run faster and easier without running an HTTP server.

I was

[2022-08-16 20:54] pauleveritt opened #694 "Use Playwright's wait_for_selector to delay until Pyodide loads and renders"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a duplication
- [X] I already searched in Google and didn't find any good information or help

### What is the issue/comment/problem?

(I discussed this with @fpliger and said I would make a ticket here.)

The PyScript examples tests when I last looked had to do a timing dance to look at the consol

[2022-08-18 15:04] zeki07k commented on #667
Why I can't use **from js import document** line?
My python script doesnt accept it .
**Script**:

from dimension import Dimension
from js import document

class Board(Dimension):
    BLACK_CELL = "blackCell"
    WHITE_CELL = "white_cell"

    def __init__(self, width, height):
        super().__init__(width, height)

    def create_html_element(self):
        dimension_size = self.height

[2022-08-18 16:09] zeki07k opened #699 "from js import document issue"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?
it is tried both python 3.8 and 3.10

Why I can't use **from js import document** line?
My python script doesnt accept it . I mean I cant use **document**
Script :

[code]

[2022-08-18 16:21] JeffersGlass commented on #667
@zeki07k Probably best to open a new issue rather than adding to this one.

What's the context of running this script? A <py-script> tag on the page? Imported from another file? Running locally?

[2022-08-18 16:30] zeki07k commented on #667
I will call mainçpy file via that script:
main.py:
[code]
then I will put into html file like this.
[code]

[2022-08-18 16:31] JeffersGlass commented on #699
Are you running this script locally, or using it within a <py-script> tag or similar?

"JS" isn't a module on PyPI - it's Pyodide's way of representing the Javascript global namespace, and automatically proxying those objects into Python. See [the Pyodide Getting Started](https://pyodide.org/en/stable/usage/quickstart.html#accessing-javascript-scope-from-python) (and the links therein) for more in

[2022-08-18 16:35] zeki07k commented on #699
I will call mainçpy file via that script:
main.py:
[code]
then I will put into html file like this.
[code]

[2022-08-18 16:37] JeffersGlass commented on #699
The syntax for including a script via src is `<py-script src="./chess/main/main.py"></py-script>`. The `src` is an attribute of the \<py-script\> tag, not its contents. Though maybe that's a copy-paste issue?

And to double check, you're using a [server](https://github.com/pyscript/pyscript/issues/257#issuecomment-1119595062) of some kind to view these files in a browser, yes?

[2022-08-18 16:45] zeki07k commented on #699
In here **from js import document** give an error. this is my actual error. for that reason, I cant go on.
![image](https://user-images.githubusercontent.com/67226258/185449601-da1a7027-1e6b-4838-8b92-dfdd7f6546fe.png)

[2022-08-18 17:09] zeki07k commented on #699
yes!

[2022-08-18 17:10] JeffersGlass commented on #699
Can you copy/paste or screenshot the error that appears in your browser window (or the Developer console)? I think that will help clarify what's happening that it "can't go on."

[2022-08-18 17:37] zeki07k commented on #699
basically, the error is here:
`from js import document
ImportError: cannot import name 'document' from 'js' (D:\sdk\chess10\lib\site-packages\js\__init__.py)`

Also, Is it possible to run main func into pyscript like this?
![image](https://user-images.githubusercontent.com/67226258/185459121-4433de31-777c-4877-8aff-97b0c3bc51cb.png)

[2022-08-18 18:24] JeffersGlass commented on #699
The fact that that package is trying to load from the D: drive indicates that this script isn't running in a browser, but rather the file is being opened from disk. Also, PyScript will not have access to your various folders and files (`./chess...`) unless you using \<py-env\> paths... \<py-env\> to load them into the PyScript environment.

-----

Maybe this is more helpful: here's a minimal examp

[2022-08-18 18:50] Prakash1124 opened #700 "A small request"
Kindly can you seniors replace `<py-script>` with `<pyscript>`

[2022-08-18 22:31] fpliger opened #701 "Better PyScript Application config"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other feature requests and couldn't find a duplicate (including also the ``type-feature`` tag)
- [X] I confirmed that it's not related to another project area (see the above section)

### What is the idea?

PyScript applications need a more solid configuration/manifest design that allows users to add metadata about their apps as

[2022-08-18 23:15] zeki07k commented on #699
I see with that way. Now, I am able to call .py file and can open the server on localhost:8000.

But I am confused python script. that is below.
[code]
As I run that one, regardless of logic. it returns like this and no error
[code]
However, on the server returns this error. can't find the file. I cant figure it out what is  the reason for that??
`JsException(PythonError: Traceback (most recent ca

[2022-08-19 09:57] ntoll commented on #701
Just putting on my "web standards pedant" hat here (feel free to knock it off my head)... but there's already an "official" way to link an HTML file with an external file and describe it's relationship:

[code]

Viz: https://www.w3schools.com/Tags/tag_link.asp

(Takes off standards pedant hat...)

We may not go with the `link` tag... but an approach I'd like to foster, given that we're Pythonistas

[2022-08-19 13:32] marimeireles commented on #701
@ntoll, I feel like the definition by [w3c](https://www.w3.org/TR/2011/WD-html5-author-20110809/the-link-element.html) covers this case.

Two categories of [link](https://www.w3.org/TR/2011/WD-html5-author-20110809/the-link-element.html#the-link-element)s can be created using the link element: [Links to external resources](https://www.w3.org/TR/2011/WD-html5-author-20110809/links.html#external-res

[2022-08-19 14:09] ntoll commented on #701
:+1:

My working hypothesis is that @ramalho is really a pan-dimensional being from the future with a brain the size of a planet. That's why I always pay attention to everything he says. :upside_down_face: :rocket:

[2022-08-19 14:45] fpliger commented on #701
ehehe... this is good conversation 😛

I'm a little torn here... One of the principles I'd like us to operate is "simplicity wherever possible". I understand that consistency is vital, and breaking convention should only be done with careful consideration. That said, both simplicity and consistency are key to adoption and democratization (which is at the core of the project mission...).

With that

[2022-08-19 14:50] ntoll commented on #701
@fpliger totally hear what you're saying.

I did wonder about the beginner friendliness of the `<link>` tag, and (after only a small amount of thinking... i.e. this line of thought needs more development... please dive in!) decided that the tag in question will *always* be `<link rel="py-config" href="manifest.toml">` (what else could it be?). In that case, it's just boilerplate that's easy to exp

[2022-08-19 15:04] JeffersGlass commented on #700
@Prakash1124 I think maybe you have some html-like tags in your question that GitHub is hiding. For a tag like `<py-script>` to be visible, either surround it with backtick \` characters to put it in a code tag, or put a backslash \\ in front of each of the \<\> characters.

[2022-08-19 15:19] pauleveritt commented on #701
First, love this discussion. "Re-imagine bootstrapping" was on my list from doing that collective gallery thingy. Thanks @ntoll for beating the drum.

I think there might be a way to do it that "squares the circle". Keeps it simple for novice while adopting `<link>` and web standards. Alas, I think `rel` is a [restricted vocabulary](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/link#at

[2022-08-19 15:38] pauleveritt commented on #701
Interesting, [this document](https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/rel) says: "If a rel attribute not present in one of the three sources above is used some HTML validators (such as the [W3C Markup Validation Service](https://validator.w3.org/)) will generate a warning."

And yet, that validator didn't complain about this document:

[code]

[2022-08-19 16:47] ntoll commented on #701
Ack on the pause for thought about `rel`. That's quite a rabbit hole. :slightly_smiling_face:

Looking at the list of "allowed" values for a `rel`, I notice the `rel="help"` value, described like this:

If metadata is helpful, perhaps we could re-use this as close enough.

[code]

But then I scrolled down further and noticed `rel="manifest"`, only to learn about [web app manifests](https://develop

[2022-08-19 17:03] pauleveritt commented on #701
Yeh, it's very definitely not manifest. Those are for PWA stuff, we shouldn't overload it.

We can try various validators, see if we can get away with yours. If not, `prefetch` is interesting.

Equally, though, I'd like to step back, rethink what we're doing and for whom, and walk through bit-by-bit with someone. Interested? Spoiler: pointing at a config *file* might be a last-resort.

[2022-08-19 17:06] ntoll commented on #701
Sounds like a plan.

These sorts of discussions are so important, and I'm all ears for comments, ideas and constructive critique. We'll save ourselves a lot of pain and frustration in the future if we spend time getting these details right **right now**. Flexibility is key.

Anyway, I'm really happy to see this sort of thing happen. Feels good and is really motivating that we're all invested and c

[2022-08-19 18:19] fpliger commented on #701
Yeap, this is a great chat. `manifest` is not what we need but actually could be one of the outcomes from the tooling provided by the `cli` from the config. Food for thought 😉

Sounds like a weekend to think about options is perfect 😝

[2022-08-19 22:49] fpliger commented on #694
/cc @antocuni @marimeireles

[2022-08-20 07:56] LoreBadTime commented on #674
Done something here #702

[2022-08-20 13:03] FabioRosado opened #703 "Typescript 'entries' does not exist on type 'ObjectConstructor'"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

Just followed the steps in the contributing.md and when I run `npm run dev` I've noticed the following error in the terminal:

[code]

### What browsers are you seeing the

[2022-08-20 15:39] FabioRosado commented on #688
Can also reproduce this issue in Manjaro 21.3.7.  I will open a PR with a potential solution to fix this for local dev

[2022-08-20 22:23] SeaDude opened #706 "Python code isn't evaluated, only code *itself* showing in browser + Bizarre Syntax Errors"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

1. I pasted [`Your first pyscript HTML file`](https://github.com/pyscript/pyscript/blob/main/docs/tutorials/getting-started.md#your-first-pyscript-html-file) into a new `in

[2022-08-20 22:52] SeaDude commented on #706
Weird! Looks like this has something to with my VS Code setup.

If I...
1. Create a new `index.html` file with the sample code **inside** my current workspace, then `Go Live`, everything works correctly (Pyscript loads as expected).
2. If I try to open the `index.html` file with the sample code **outside** my current workspace, the above issue presents itself.

I'll adjust my workflow.

[2022-08-20 22:52] #706 closed

[2022-08-20 23:07] FabioRosado opened #707 "Error in console when running repl: importmaps is not iterable"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

While writing tests for `py-repl` I've noticed that the tests would fail once we run the cell. This was the failure:

[code]

I have seen the same exception logged in the c

[2022-08-21 14:30] pauleveritt commented on #519
This is an opportunity: `But even if the user had to enumerate all the files in a given package`

`__all__` is a way to publicly exports symbols from a package. It's laborious and possibly error-prone, but you could fetch the package's `__init__.py`, get the `__all__`, find the paths that import those symbols, and fetch them.

Of course, this would be so much easier in Python instead of TS. 😀 Wish

[2022-08-21 14:31] pauleveritt commented on #659
Are there aspects that are out-of-scope for this?

[2022-08-21 15:08] FabioRosado commented on #673
This issue popped up when working on adding more tests, I didn't do much digging but it seems that `runAfterRuntimeInitialized` is called with an undefined value :thinking:

I've tried to add an assert and this seems to fix the issue and doesn't seem to cause any breaking:

[code]

I'm still slightly concerned as to why the value was undefined. I'm planning to spend some more time and look into th

[2022-08-21 16:10] pauleveritt commented on #701
I will give a longer answer after I've poked around a bit. First though some framing:

- We have to balance "web ready" (as you describe it) with "least typing" (as Peter describes it)
- Total beginners will need no custom config
- Mostly-beginners don't need much of what's in current `<py-config>` and `<pyenv>`
- Mostly-beginners mostly need:
  * Point to PyPI packages
  * Alternate Pyodide
- Kin

[2022-08-22 10:34] marimeireles commented on #679
Quoting your own example:

Maybe you can lay out what are your high level ideas for this API?

Yes! Philipp started with this by improving the `clock` test. It's a model in case anyone wants to give it a try. It's definitely a `good-first-issue`.
Supposing that's the kind of stuff you mean we should do, @antocuni?
On this topic we should define which examples are staying in the repo and which are

[2022-08-22 12:13] marimeireles commented on #622
In general I agree with @JeffersGlass input.
I think Fabio and I discussed this earlier but didn't really arrive to any conclusion.
Do you think it's an ok behavior to having it print by default both on the web and on the console, @fpliger?

[2022-08-22 18:01] fpliger commented on #622
@JeffersGlass @marimeireles that's a fair point..

The core of the issue is on the fact that `print/output` != `display`. Basically, the former is a way to print statements somewhere for multiple reasons while the latter is an explicit way to display things in my UI. The core of the problem here is that there are multiple flows of how a user might think they PyScript App/Script.  Do they intend to

[2022-08-22 22:21] JeffersGlass commented on #519
Would you do this by looking at the files they were imported from in the `__init__.py`? It's an interesting thought. Or is there another way of discovering which file a symbol was defined it?

[2022-08-22 22:28] pauleveritt commented on #519
@JeffersGlass The pithy answer: Python and `inspect`. But you're right, if it was TS, you'd like back up at the `from foo import bar` lines. Tricky, but likely not impossible.

[2022-08-23 09:08] marimeireles opened #712 "No Python output if console.log() is called after Python code"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

Working on #622 I found a problem that I think it's coming from upstream `pyscript.py`.
When you add a js print after python code that should be printing in the screen, not

[2022-08-23 11:10] marimeireles commented on #712
Ok, it doesn't happen if I use:

[code]

[2022-08-23 17:07] JeffersGlass commented on #712
Hi @marimeireles! It think this is actually intended (if unintuitive) behavior that I've tripped on a couple times.

When the \<py-script\> tag [evaluates](https://github.com/pyscript/pyscript/blob/fa7a97ca3087d9f5c0a1fe2787a57201a33a6dce/pyscriptjs/src/components/base.ts#L125-L134), Pyscript calls pyodide's [runPython](https://github.com/pyodide/pyodide/blob/6ca76fb725161dacf1940406f5996bc817ac00

[2022-08-23 19:54] JeffersGlass opened #714 "Top-Level-Await Code Detection Misses Some Cases"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

When a \<py-script\> tag is evaluated, PyScript must determine whether to use `runPython()` or `runPythonAsync()` to run the enclosed code. The current method for this is t

[2022-08-23 21:35] fpliger opened #716 "Panel Stream example fails"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

When running the Panel Stream example from `main` the loading screen never closes due to some error during execution. PyScript i trying to log the error to a DOM element an

[2022-08-23 21:46] fpliger opened #718 "Update pyodide version to 0.21.1"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other feature requests and couldn't find a duplicate (including also the ``type-feature`` tag)
- [X] I confirmed that it's not related to another project area (see the above section)

### What is the idea?

New pyodide with many fixes is out

### Why is this needed

It has many fixes that are useful

### What should happen?

We

[2022-08-23 22:11] #718 closed

[2022-08-23 22:12] #716 closed

[2022-08-23 23:03] #707 closed

[2022-08-24 21:01] marimeireles commented on #712
Hey @JeffersGlass thanks for chiming in!
And very useful input. :)
I'm rewriting the PyScript's outputs and will take your points into consideration. Thank you!

[2022-08-25 02:01] #703 closed

[2022-08-25 02:13] fpliger commented on #280
Think this is part of the major redesign happening in #622 . The current implementation has several limitations.

[2022-08-25 06:41] ryanking13 commented on #140
Recent Pyodide 0.21.0 release includes opencv-python :)

[2022-08-25 13:21] FabioRosado opened #722 "inJest utils throws ReferenceError: process is not defined when using npm run dev"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

Pulled main into my fork and tried to run the py button integration test with pytest, it failed with a ` ReferenceError: process is not defined`. Then I tried to run the ex

[2022-08-25 16:24] pww217 commented on #333
We went with a hybrid sort of release model where hand-picked commits are tagged and then a draft release is created. It's good for where we want to be right now.

I appreciate this though and other CI improvements are very welcome.

[2022-08-25 16:24] #333 closed

[2022-08-25 16:38] madhur-tandon commented on #722
Closing because https://github.com/pyscript/pyscript/pull/721 is merged.

[2022-08-25 16:38] #722 closed

[2022-08-25 19:31] FabioRosado commented on #722
Ah awesome! Apologies I missed that PR 😄

[2022-08-25 19:52] JeffersGlass commented on #622
@fpliger Absolutely agree with you - having a `display` function that provides ways to shape the way that content is created and deliver it to the right place in the window/DOM is much superior to relying on `print`/stdout to handle everything. And that instructing PyScript users to use 'display` whenever they way something output to the screen itself is probably the way to go.

I was just advocat

[2022-08-25 20:43] marimeireles commented on #585
Closed by #689

[2022-08-25 22:29] FabioRosado opened #726 "The integration test 'test_repl' is flaky"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a duplication
- [X] I already searched in Google and didn't find any good information or help

### What is the issue/comment/problem?

While running the integration tests for the examples, all of them seem to pass locally, but in CI the `test_repl` seems to fail very often. I've marked this test as

[2022-08-26 13:30] marimeireles commented on #685
Hey @fpliger, bringing your attention to this because it's a breaking change.
If I understand it correctly this behavior is wrong and we should change it to match JS. Thanks to @JeffersGlass there's a #686 opened for that.
If you agree with this I can rebase and merge it.
Thanks!

[2022-08-26 13:38] FabioRosado commented on #726
This is the output of running 20 runs of this test (by installing `pytest-repeat` and using `--count=20`

[code]

But adding a `sleep.time(.1)` make them all pass. I'll create a PR to add the time only if the expected result is empty

[2022-08-26 14:58] fpliger commented on #685
Yup, agree PyScript should not surprise [JS] users. +1

That said, the only issue with the fix is that it'll break previous code... We could use a `deprecation` cycle here. Iirc, the `py-on*` events were not included in the latest release. If not, we could add this correct behaviour only to these attributes and deprecate `pys-on` on the next release and add a deprecation warning when users use `py

[2022-08-26 16:51] fpliger commented on #701
Ok. Been discussing with @ntoll about this and I think we are all converging here. To summarize:

* what we're doing and for whom?

We want to create a way for users to configure their application in a way that is expressive, easy and Pythonic/Web-y enough. In my mind, something like [pyproject.toml (PEP-621)](https://peps.python.org/pep-0621/) seems pretty damn close (with a little flexibility to

[2022-08-26 19:11] pauleveritt commented on #701
Just to be clear: this is TOML in a separate file, never to be inlined into the original HTML, right?

[2022-08-26 23:32] fpliger commented on #701
Correct

[2022-08-29 14:13] antocuni opened #735 "Correctly handle HTML entities inside <py-script> source code"
Follow up of this conversation: https://github.com/pyscript/pyscript/pull/684#discussion_r957047621

This is best explained by a simple example:
[code]

This produces the following:
[code]

This is even worse if we use `&quot;` or `&apos;`, because currently they are interpreted as quotes and thus they can easily trigger Python syntax errors; e.g. the following trigger a `SyntaxError`:
[code]

By

[2022-08-29 15:27] fpliger commented on #735
I think this is part of the bigger redesign work we need to do in #622, so putting it as a subtask there...

To your question. @antocuni I think this was due to behavior when you want the output to be inserted back in the DOM and things for mixed up. Definitely needs to be rethought, and either put behind an option flag or removed.

[2022-08-29 15:30] philippjfr commented on #735
I don't think that's the reason. I might be wrong but without the DOMParser approach we couldn't handle any of the special characters `>`, `<` and `&`, e.g. see https://github.com/pyscript/pyscript/pull/481

[2022-08-29 15:31] fpliger commented on #678
I think the core issue here is the quick and dirty implementation of the loader, the sequence of events,  and how we are managing the loader itself. We need to better manage event hooks and closing the loader (and have a less invasive loader).

[2022-08-29 15:32] philippjfr commented on #735
Ah I see what you're getting at now @fpliger, yes that sounds right.

[2022-08-29 17:58] astrojuanlu opened #736 "Specifying dependencies in `<py-env>` is not equivalent to `micropip.install()`"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

My end goal is to install `rst-to-myst` on PyScript, but I'm running into some walls related to dependency versions.

While debugging on the Pyodide console, I managed to i

[2022-08-29 18:30] fpliger commented on #736
@astrojuanlu I just tried to replicate with this HTML example and it seemed to be working fine. Am I missing something?

[code]

[2022-08-29 18:37] astrojuanlu commented on #736
Hi @fpliger, thanks for the quick response. I don't have a local build of `pyscript`, so I tried this diff with respect to your snippet:

[code]

and I observe the error. Does this mean that it has probably been fixed in the `main` branch?

[2022-08-29 18:38] fpliger commented on #622
@JeffersGlass  yeah, I get your point. I actually do agree that there are cases for `print` (`log`, etc..) outputting to an element on the DOM [**but(!)** probably not by default]... Other core devs actually prefer a clear cut and not allow it at all. I think this is the type of thing that we'll have to tune in time.

[2022-08-29 18:43] astrojuanlu commented on #736
I tried using the "Download" option rather than the "Install" option from [the website](https://pyscript.net/), but looks like these instructions are incomplete:

![image](https://user-images.githubusercontent.com/316517/187274553-e63bb757-cc02-464c-a915-d90f673e1d7b.png)

It should say (1) download, (2) unzip, (3) **follow the build instructions**, and (4) copy the assets you want? (Happy to make

[2022-08-29 18:45] fpliger commented on #736
Ah! Ok.. So, there are a couple of things going on here...

1. Is that you are using PyScript `alpha` version. You should update to `latest`. So your links should be `https://pyscript.net/latest/pyscript`. Unfortunately, we didn't do a good job socializing that on the main side page and have an issue to update links there.  Should be fixing that soon
2. I think there's also an upstream issue going

[2022-08-29 18:48] astrojuanlu commented on #736
Using `latest` pyscript + pyodide 0.21.1 worked! 🎉 I'll continue doing the work, leaving it up to you if you want to close the issue.

[2022-08-29 18:53] fpliger commented on #736
Awesome🎉🎉! I'll close the issue since I think we already have another one to capture the links to `latest` vs `alpha`.

Thank you for opening it and for your patience! :)

[2022-08-29 18:53] #736 closed

[2022-08-30 09:33] cdrhim commented on #444
@marimeireles Hi, I'm also into translating the docs into Korean. Let us know if there were any consensus up to this point!

[2022-08-30 09:56] antocuni commented on #701
Sorry for chiming in late in the conversation, just back from vacation.
I'm writing this after reading the above messages but I admit I probably need more time to really digest all this stuff. That said, let me try to write down some of my gut feelings about this:

**TOML vs YAML**: +1 for TOML, I think we all agree about this.

**name of config file**: -0.5 for calling it `manifest.toml`. It shou

[2022-08-30 10:20] FabioRosado commented on #673
Apologies for the ping @fpliger  and Antonio, I've finally spent a bit more time looking into this. I'm starting to suspect this might be a race condition between running the tests and waiting for pyodide to load.

I'll share my debugging with you, hopefully its useful :smile:

## Debugging

Since we are capturing the console logs when we run the tests (thanks Antonio!), it's easier to see what is

[2022-08-30 11:48] pauleveritt commented on #701
Thanks @antocuni for the reply. A couple of points:

- I wasn't going to propose a new custom element for the simple case of a couple of knobs. Instead, data attributes on the `<script>` that loads `pyscript.js`.
- If #329 and the status quo are immutable, then this is a short conversation. 😀
- In general, I'm trying to avoid custom elements for the loader part (but I'm not dead-set on it.)

The `

[2022-08-30 12:17] antocuni commented on #701
ah ok, then I misunderstood your proposal, sorry.
So, it would be something like that?
[code]
I like this already more than my invented `<py-runtime>` and `<py-install>` :).
Assuming that this is what you had in mind, my two major comments are:
- how does the JS code inside pyscript know which is the `<script>` tag where to look the data attributes from?
- we need to make sure that if you make a t

[2022-08-30 12:41] pauleveritt commented on #701
Again, thanks a ton @antocuni for giving this conversation your time. I know you have `/me looks up` 191 other things that need attention.

## The `<script>` approach

_How does it know?_ That will be pretty simple. Iterate over a selector that gets all `head>script` for anything that has `pyscript-*` in the data bag.

_Silently ignored_. I agree. We should turn the key/value pairs into something

[2022-08-30 13:26] antocuni commented on #701
right, this is simple-but-effective. The biggest drawback is that we might risk of looking up attributes on the wrong tag, e.g.:
[code]

But I suppose we can live with that.

this is the part which I don't understand. Imagine that I develop a game: I am the author of the code and thus the one who writes the `<py-config>`; once I'm done, I publish my HTML page on some web server, and people just lo

[2022-08-30 13:37] pauleveritt commented on #701
1. `data-pyscript-*` on wrong element. Yep. It will still configure correctly. 😀
2. `Consumers`. I mean someone that edits your example, not someone that just executes it. Sorry, I wasn't clear. Think of it like: someone installs `black` in their virtualenv, configures it by editing `.venv/lib/python3.10/site-packages/black/pyproject.toml`.
3. `custom elements`. For bootstrapping, it might be nice

[2022-08-30 16:36] antocuni commented on #701
Yes, I agree that most of the differences are minor.
I think that to summarize the whole discussion, the two biggest decisions to make are:

1. do we want to allow the full TOML config to be inlined inside the HTML page?
2. do we want to use `<py-config>` or `<link>`?

[2022-08-30 16:55] antocuni commented on #735
I still don't understand.
According to grep, `htmlDecode` is used to decode the source code inside `<py-script>`, `<py-button>` and it's never used for the output.

[2022-08-30 17:17] antocuni commented on #735
Moreover, it seems that `htmlDecode` is called *twice*, unless I'm mistaken.
First, it is called when we set `this.code`:
https://github.com/pyscript/pyscript/blob/6cb81b5c3d21ca8f71431c079ce83103154fabc9/pyscriptjs/src/components/pyscript.ts#L33-L37

Later, it is called inside `getSourceElement()`:
https://github.com/pyscript/pyscript/blob/6cb81b5c3d21ca8f71431c079ce83103154fabc9/pyscriptjs/src/c

[2022-08-30 17:54] zoreu opened #740 "How to use get params from url"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a duplication
- [X] I already searched in Google and didn't find any good information or help

### What is the issue/comment/problem?

how to use get params from url?
Exemple: index.html?name=test

I need param name

[2022-08-30 21:22] zoreu opened #741 "problem with https protocol"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a duplication
- [X] I already searched in Google and didn't find any good information or help

### What is the issue/comment/problem?

I'm trying to pull data from a url and it doesn't work with the requests library

log:
NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x107f738>:

[2022-08-30 21:23] fpliger commented on #701
Thanks @pauleveritt and @antocuni for the great discussion. Tons of good points.

To me it seems that the discussion is converging very close to where we left. Let me try to update the proposal based on the things I think we agree on:

* we want to use TOML as a format
* configuration is inspired by [pyproject.toml (PEP-621)](https://peps.python.org/pep-0621/) but adapted to the PyScript use case

[2022-08-30 21:31] fpliger commented on #735
It does look like it's being called twice (and it's a bug). Still, it's something that will be taken care as part of the bigger redesign work in https://github.com/pyscript/pyscript/issues/622

[2022-08-30 21:39] fpliger commented on #673
Great catch/analysis @FabioRosado ! This is super helpful

Yeah, it's likely that you are correct. Code is being called too early and the runtime is not initialized yet. I'd suggest checking also that `value` is not `undefined` so we only set `runtime` when `value` it's actually a valid  `runtime`.

[2022-08-31 05:00] tiran commented on #741
The requests library does not work in PyScript, see https://github.com/pyscript/pyscript/issues/633

[2022-08-31 06:00] astrojuanlu commented on #622
To add another data point, as a newcomer I actually expected `print` to be sort of equivalent to `console.log`. Seeing the output in the DOM was kind of weird.

[2022-08-31 08:18] rth commented on #610
In Pyodide missed the rc1 window, but hopefully, we would be able to update for the next release, now that 0.21 is out. Opened https://github.com/pyodide/pyodide/issues/3051 about it as well.

[2022-08-31 09:46] marimeireles commented on #741
Yep. Closing as dup.
We intend to tackle it, it's down the roadmap. Not exactly sure when we'll get to it. A rough guess between 1 or 2 months from now.
Thanks!

[2022-08-31 12:39] antocuni commented on #701
+1 to all of these!

well, for multi-pages app you just don't use the inline config and use the external file, in the same way as you don't copy&paste your common `<py-script>` code but you put it in an external file which is accessible by everyone.

Another option could be that the two configs are merged and that the in-page config takes precedence in case of conflicts (this is similar to e.g. ho

[2022-08-31 12:43] Cheukting commented on #740
[code]

will give you the string `?name=test` then you have to parse it yourself:

[code]

The whole HTML:
[code]

[2022-08-31 13:07] JeffersGlass commented on #685
Makes sense to me - and yeah it looks like the py-on* events were added in [f2955d](https://github.com/pyscript/pyscript/commit/ee9b0960f75dfc8ac4cf538c79813787bdf2955d), a couple days after the 2022.06.1 release.

I'll adjust the PR to change the behavior for the `py-on` events, but leave it unchanged (but deprecated) for `pys-on` events and use the warning to point them to the `py-on` style.

[2022-08-31 13:42] antocuni commented on #735
if you say so 😅.
I still think this is a problem of *reading* the py-script source code and thus it's orthogonal to how we handle the *output* produced by executing the scripts, but I suppose we can just wait and see whether #622 will fix the problem :)

[2022-08-31 16:10] fpliger commented on #701
Another option could be that the two configs are merged and that the in-page config takes precedence in case of conflicts (this is similar to e.g. how ~/.gitconfig and per-repo .git/config interacts). This would be helpful for multi-page apps, where I want to share some of my config between pages but I still want to customize it on a per-page basis. That said, I think this is something for the fut

[2022-08-31 16:15] ntoll commented on #701
Hi folks,

Wow, this has been a fascinating discussion. I'll be brief...

* +1 to all the things @fpliger says we agree on.
* I think having a choice to put configs in-line in the page is a good thing :tm: (but will spare the reasons why)
* @antocuni's suggestion for in-page precedence over external file is a genius move. :+1:
* After thinking about how it "feels" (i.e. this is an intuition/aesthe

[2022-08-31 16:44] antocuni commented on #701
thinking about it more, we should *really* make sure that the precise name doesn't matter. Imagine that you want to host two separate apps/pages `a.html` and `b.html` in the same directory of the same domain, you want to be able to load a separate config to each of them; if we require to have a specific name, every app in the same directory would be forced to have the same config, which sounds wro

[2022-08-31 16:57] pzwang commented on #701
Glad to see the convergence here. Agree with all of it.  A couple of thoughts:

* I prefer `<py-config>` over `<link>`
* The name of the config file should be left to the user, but whatever we use in the examples will absolutely set precedent and convention. I strongly prefer something like `pyscript.cfg` rather than a generic `manifest.toml`.  The latter is evocative of nothing, and indicates no

[2022-08-31 19:45] antocuni commented on #701
+1 for using a descriptive a "de facto" standard name in the examples.

-0.5 for `.cfg`:
  - for people who don't know what is it, `.toml` is just another filename extension, and if we call it `pyscript-config.toml` is self-evident that we are talking about the config for pyscript, independently of the extension :)
  - for people who *do know* that TOML is, it's immediately obvious that it's TOML

[2022-08-31 20:59] zoreu commented on #740
thanks

[2022-08-31 21:03] #740 closed, assigned to nobody

[2022-09-01 12:52] pauleveritt commented on #701
(Apologies, at of all things an Angular conference.)

1. I like both inline and external. First gets priority. Add support for merging "at some point." Complain loudly.
2. We are a go for `<py-config>`. I like Fabio's suggestion to not turn it into a custom element, just grab its text content and attributes.
3. Agree with Peter, let's choose a good default file name, get people to follow (like `se

[2022-09-02 12:59] fcrozatier opened #744 "Unable to use pyscript in a sveltekit app"
### Checklist

- [x] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

The `py-script` custom element works fine in the `app.html` but not in a `+page.svelte`

Reproduction https://github.com/fcrozatier/kit_pyscript

### What browsers are you

[2022-09-02 13:49] JeffersGlass commented on #744
I'm not particularly familiar with how svelte does page rendering, but here's a couple observations that might be helpful:

The PyScript is indeed being executed in the +page.svelte context - if you add the following PyScript in that page, you can see the results in the dev console:
[code]
---
Output error handling was changed somewhat between the alpha release your linking to and the latest relea

[2022-09-02 15:58] fcrozatier commented on #744
I've updated pyscript to the `lastest`version and fixed vite version to avoid having to force the install in the reproduction.

This could be some kind of race condition?

[2022-09-03 19:45] fcrozatier opened #746 "pyscript is incompatible with frameworks using hydration"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

Following #744 and https://github.com/sveltejs/kit/issues/6509

From Rich's comment https://github.com/sveltejs/kit/issues/6509#issuecomment-1236147349 it seems that the cu

[2022-09-03 19:46] fcrozatier commented on #744
To make it work I can bypass the hydration step by waiting `onMount` to load pyscript. This has some consequences (FOUC etc.) for the user.

Will close in favor of https://github.com/pyscript/pyscript/issues/746

[2022-09-03 19:46] #744 closed

[2022-09-04 21:47] zoreu opened #748 "how to use local files?"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a duplication
- [X] I already searched in Google and didn't find any good information or help

### What is the issue/comment/problem?

how to use local files?
example: my files: index.html, data.txt
i need load data.txt to homepage

[2022-09-05 12:18] antocuni commented on #622
Sorry, chiming in late in the conversation.
I agree with Fabio that there are many different use cases and workflows and we should find a way to accommodate all of them.
On the other hand, I also agree with @JeffersGlass that "good old boring scripts using `print`" should work more or less out of the box.

I think the key of the solution is already in @fpliger's original message, although it was p

[2022-09-05 12:35] marimeireles commented on #735
I talked to @antocuni about it and agree with redesigning it as part of #622 efforts.

[2022-09-05 15:49] antocuni commented on #735
@marimeireles make sure to add the relevant tests ;)

[2022-09-06 08:15] antocuni opened #751 "async <py-script> tags are blocking the execution flow"
Consider the following case:
[code]

I would expect it to print `A` and `B` lines alternatively, i.e.:
[code]
However, pyscript `await`s the end of each code tag before commencing to execute the next, so the output is `A0 A1 A2 B0 B1 B2`. I *think* the culprit is the `await` in the following line:
https://github.com/pyscript/pyscript/blob/4694602862f86659c803c1f1881ba5d5d0bb4194/pyscriptjs/src/run

[2022-09-06 11:35] antocuni commented on #701
@pauleveritt I'd love to see your notes. These days I'm thinking about if/how to refactor the code to support external plugins (in both js and python) and I'm also starting to write down what is the life cycle that we want

[2022-09-06 12:03] marimeireles commented on #472
I think the https://github.com/pyscript/pyscript/pull/749 will fix it.
Just linking it here so we can keep it in mind to check it.
After the redesign print will only output for the console and if you want to have things on the HTML you should use display :)
This is an interesting test case scenario tho, anyway, that we should create.

[2022-09-06 12:09] marimeireles commented on #748
Hey @zoreu thanks for opening the issue here.
I believe we should have a session around that in our docs because there are many related issues to this.
I'll open an issue for it :)

[2022-09-06 12:57] pauleveritt commented on #701
@antocuni I spent some time this weekend on science fiction implementation. I'm also going to look at [Simon's bootstrapping](https://github.com/simonw/datasette-lite/blob/main/webworker.js) for Datasette Lite. Though he's doing a web worker.

[2022-09-06 14:44] sumahadevan commented on #688
@FabioRosado @marimeireles I spotted a small bug in the fix by Fabio for automatically copying the build folder that resolves this issue - namely, if you run 'make examples' a second time, the new build folder (for the second build) is copied INSIDE the existing build folder (of course it works correctly the first time when the build folder does not exist). The culprit seems to be the format of th

[2022-09-06 20:43] JeffersGlass commented on #751
I stumbled across this issue the other day, but convinced myself it was an issue with my environment. Glad to see I wasn't loosing my marbles. Especially since this issue isn't present in the 2022.06.1 release.

I believe you are correct in identifying source of the issue - doing a `git bisect`, the issue starts in PR #598,  when [that same line of code](https://github.com/pyscript/pyscript/commit

[2022-09-07 09:17] antocuni commented on #673
Thank you @FabioRosado , I agree that it's super helpful, and your analysis convinced me once more that we need to come up with a better design for the whole lify cycle of a page, including the interactions between the various components and make clear "who calls what".

In the meantime, I just wanted to comment on this:

it was definitely a surprise for me, but it turns out to be an intended beha

[2022-09-07 09:47] antocuni commented on #751
woooh, thanks for identifying the issue! It's ironic that the bug was introduced by PR which says "minor changes" 😂.
(it's also a good data point for my endless and lost battle against ~windmills~ linters)

If I understand it correctly, it would start all async blocks together, and then wait until they all complete before moving on, is it correct?
This is already a big improvement over the current

[2022-09-07 22:17] tedpatrick commented on #694
Working on both of these Playwright issues to speed up the test and remove the sporadic test failures.

[2022-09-07 22:17] tedpatrick commented on #693
Working on both of these Playwright issues to speed up the test and remove the sporadic test failures.

[2022-09-07 22:24] antocuni commented on #694
Sorry, I overlooked this issue and seeing it only now.

We are already using something similar, introduced by PR #663 .
After running all the scripts in the page, we print a magic string to the console:
https://github.com/pyscript/pyscript/blob/6023c413ab1762e0a1bb2476ed46eb4be2af7944/pyscriptjs/src/runtime.ts#L177-L180

and then all the tests automatically wait for it:
https://github.com/pyscript

[2022-09-07 22:27] antocuni commented on #694
That said, some of the test in `test_zz_examples.py` seems to be flaky: some are marked as `xfail` because of that, and I also saw `test_d3` failing here and there.
And also #747 contains a discussion about a test which seem to require a `time.sleep` but we don't understand why.

[2022-09-08 09:34] marimeireles commented on #656
This is fixed, correct @pww217?

[2022-09-08 09:38] marimeireles commented on #309
We set up a similar system to the one implemented by Pyodide, thanks for the patience here! :)

[2022-09-08 09:38] #309 closed

[2022-09-08 09:42] marimeireles commented on #171
Hey @BruceSherwood we're working on loading time. @antocuni and @ntoll made some interesting discoveries.
We're currently on a sprint to release pyscript.com but afterwards that should be one of our number one priorities.
I think your original issue is not reproducible anymore so I'm closing this one, but please feel free to open a new one on execution time. Also, if you want to help the team with

[2022-09-08 09:42] #171 closed

[2022-09-08 09:43] marimeireles commented on #111
I believe @ptmcg answered this one?
Feel free to reopen if you're still stuck, I'm tracking this kind of I/O issue on the linked issue though.
Thanks!

[2022-09-08 09:43] #111 closed

[2022-09-08 11:20] marimeireles opened #756 "Add docs for opening/saving files"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a duplication
- [X] I already searched in Google and didn't find any good information or help

### What is the issue/comment/problem?

This is an umbrella issue to take care of all issues related to how to open files from your file system using PyScript.

This is not necessarily a responsibility of

[2022-09-08 11:22] marimeireles commented on #209
Tracked on #756

[2022-09-08 11:23] marimeireles commented on #202
Closing it as dup. please redirect any questions related to the topic to the [documentation issue](#756 ).
If you're facing a different problem or think might have encountered a bug please feel free to open a new issue.
If I misinterpreted your issue and you think it should still be open please reply here and we'll reopen it.
Thank you!

[2022-09-08 11:24] marimeireles commented on #230
This will probably be fixed by https://github.com/pyscript/pyscript/pull/749

[2022-09-08 11:25] marimeireles commented on #124
Closing it as dup. please redirect any questions related to the topic to the [documentation issue](#756 ).
If you're facing a different problem or think might have encountered a bug please feel free to open a new issue.
If I misinterpreted your issue and you think it should still be open please reply here and we'll reopen it.
Thank you!

[2022-09-08 11:25] #124 closed

[2022-09-08 11:25] marimeireles commented on #146
Closing it as dup. please redirect any questions related to the topic to the [documentation issue](#756 ).
If you're facing a different problem or think might have encountered a bug please feel free to open a new issue.
If I misinterpreted your issue and you think it should still be open please reply here and we'll reopen it.
Thank you!

[2022-09-08 11:28] marimeireles commented on #436
Hey I think this can be closed as Fabio introduced a better loading screen now?
LMK if you think this issue is still valid and we can reopen it. Cheers.

[2022-09-08 11:28] #436 closed

[2022-09-08 11:28] marimeireles commented on #735
I think this is related...
https://github.com/pyscript/pyscript/issues/518
We should at least investigate if this is still reproducible or what's up =)

[2022-09-08 11:29] marimeireles commented on #558
Closing it as dup. please redirect any questions related to the topic to the [documentation issue](#756 ).
If you're facing a different problem or think might have encountered a bug please feel free to open a new issue.
If I misinterpreted your issue and you think it should still be open please reply here and we'll reopen it.
Thank you!

[2022-09-08 11:30] marimeireles commented on #558
Actually, I'm sorry this is not a dup. This is the actual request for the API.
Will keep it open to keep it in mind.
If anyone wants to pick it up, please feel free!
Just ping me or some of the other maintainers and we can start a discussion on the best way of doing it.
Otherwise, it's in our backlog to tackle this.

[2022-09-08 11:37] marimeireles commented on #593
Yep.
I'll close this one as fixed.
Thanks Fabio!

[2022-09-08 11:37] #593 closed

[2022-09-08 11:40] marimeireles commented on #565
Closing as fixed by #745
If you think it's not a good solution, please feel free to reopen.

[2022-09-08 11:40] #565 closed

[2022-09-08 11:45] pauleveritt commented on #693
@tedpatrick  Over the weekend I did some "Diary Driven Development" to refactor the Playwright interceptor and get its test code up a good bit. I can share if it is useful.

[2022-09-08 11:51] pauleveritt commented on #701
@antocuni I made a lot of progress this weekend on "Diary Driven Development" and test coverage for a particular process. I got up to the point of thinking about defining custom elements on the Python side and eliminating Svelte.

On this config topic, the main part is this:

- Define a `data-pyscript-loader` (and `data-pyodide-loader`) attribute
- In a well-known place (e.g. `<body>`)
- Use `Muta

[2022-09-08 14:49] pww217 commented on #656
What we have now is examples pointing to latest but being synced along-side latest, ie with a tagged release:

https://github.com/pyscript/pyscript/blob/0a7df78770b0e0ac0e9c532070f989d7cdbb5879/.github/workflows/sync-examples.yml#L5

This is what I believe we eventually agreed on. No solution is 100% stable but this should keep our examples up and running pretty well.

[2022-09-08 14:50] pww217 commented on #309
Yep we do have a versioned release system now, and uploading to package hosters/CDNs is likely in the future.

[2022-09-08 17:25] madhur-tandon commented on #701
Based on another discussion with regards to the performance overhead of TOML parser libraries (which can be from 6 kB to 800ish kBs) along with JSON being natively supported with no shipping overhead, the decision is now to use JSON.

Even though TOML offers ease of use, JSON is similar to `dicts` in python which even beginners would encounter at some point in their learning journey. Moreover, one

[2022-09-08 18:34] fpliger commented on #701
Sorry for going OT on this issue but, @tedpatrick , I think it'd be beneficial for you and @pauleveritt to connect (especially in regards of the tests and speeding up the whole thing).

@pauleveritt eliminating Svelte from he codebase is just 1 step away. Only `stores` left 😉   Also, planning on dedicating some brains to the custom elements topic next week. Will give you a heads up.

[2022-09-08 19:14] mattkram commented on #701
Sorry for being late to the thread here. I just wanted to add my two cents from the CLI side, and from my experience as a beginner in the past. I understand the performance consideration, but I strongly feel that the usability concerns of using JSON for project configuration may outweigh the benefits.

It is a long story, intertwined with my own personal development as I moved from engineering to

[2022-09-08 19:37] fpliger commented on #701
@mattkram I think almost everyone in the discussion agrees with you on TOM being way more approachable than JSON as a human. Alongside with that, there are other things to factor in as well. I'll try to give more insights here but I'm also rushing so I hope it'll make sense :)

What @madhur-tandon posted above  about size and performance (which is kind of irrelevant today due to the large size of

[2022-09-08 20:35] tedpatrick commented on #701
Selecting a configuration format is hard, and many factors are involved. Do we prioritize developer experience, runtime performance, or parsing format preference within Pyscript? If we choose something today, are we able to change it later?

The Pyscript configuration <py-config> is the first step in loading an application. It precedes downloading the WASM runtime for a Python (Pyodide is the defa

[2022-09-08 21:30] dylanjcastillo opened #758 "Why do you force the output and errors to be visible after you evaluate an expression?"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a duplication
- [X] I already searched in Google and didn't find any good information or help

### What is the issue/comment/problem?

I noticed that you force the output and errors to be visible once an expression is executed. But there might be times when you don't want this to happen.

For examp

[2022-09-08 21:32] marianoweber commented on #558
If I understand that correctly, that would be similar to #463. Which is outdated and can be simplified much more, but maybe it's a starting point.
It uses the MEMFS but could mount IDBFS files to persist through page reloads.

[2022-09-09 11:37] pauleveritt commented on #701
I personally can live with just about any decision. Some minor points:

- The decision isn't too important as most will accept defaults.
- I would put "big library takes a long time to load" very low on the list, as it is tiny next to the Pyodide load.
- I don't think "JSON today, others tomorrow" will be a free lunch, as we'll likely require the user to tell us the format (for inline.)

Tiny sugg

[2022-09-09 12:57] JeffersGlass commented on #751
After fiddling with this some more, I'm not convinced that simply moving to `for await... of` completely solves the problem. At the very least, it breaks many of the integration tests, since `'PyScript page fully initialized'` may be output before the promises of the script evaluations resolve.

For example, it causes the `test_output_in_order` test to output:
[code]

From some casual experimentat

[2022-09-09 13:46] tedpatrick commented on #701
@pauleveritt Your suggestion of defining more attributes on `<py-config>` directly would lighten the need for a larger structured external configuration. Not sure I see any downsides here and there is a benefit of one less round trip for the configuration before the larger WASM runtime loads. We need to talk about the configuration schema in more detail.

[2022-09-09 15:15] antocuni commented on #756
yes it is

[2022-09-09 16:30] JeffersGlass commented on #751
I may actually have made it more complicated than it needs to be. I think we can do:

[code]
Because `evaluate()` awaits `runtime.run()` (and for the Pyodide runtime, `runPythonAsync()` within it), we can iterate over this loop synchronously to "schedule" the execution of running the various scripts.

Unfortunately, this breaks any integration test which relies on `pyscript_run()` to run a \<py-sc

[2022-09-10 10:07] Cheukting commented on #748
Hi @zoreu loading a local file in a web browser is not allowed by the browsers due to security reasons. (see https://stackoverflow.com/a/72212015). If you want to test out your app in `index.html`, you will have to host it and/ or the file with a local server, you can use the `http.server` module in Python for it: https://stackoverflow.com/a/27986564

For loading a file hosted on a server, you can

[2022-09-11 17:10] Binyoh1 commented on #261
An alternative I used was adding the CDN address of the pyodide file (in this case: **https://cd.jsdeliver.net/pyodide/v0.20.0/full/pyodide_py.tar**) to the list of address exceptions in IDM under options, then navigating to the **File types** bar
![Screenshot (16)](https://user-images.githubusercontent.com/102781849/189540173-28dc72ef-437c-429a-9e8a-4d0d041da570.png)

This way, you don't have to

[2022-09-11 18:20] FabioRosado opened #759 "Test d3 is flaky due to Module Not Found d3"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a duplication
- [X] I already searched in Google and didn't find any good information or help

### What is the issue/comment/problem?

Seems like our integration test for `d3` is flaky, it often fails with a `ModuleNotFound` error.

[code]

[2022-09-12 09:32] #146 closed

[2022-09-12 09:33] marimeireles commented on #399
Closing it as dup. please redirect any questions related to the topic to the [documentation issue](https://github.com/pyscript/pyscript/issues/146#756).
If you're facing a different problem or think might have encountered a bug please feel free to open a new issue.
If I misinterpreted your issue and you think it should still be open please reply here and we'll reopen it.
Thank you!

[2022-09-12 09:33] #399 closed

[2022-09-12 09:33] marimeireles commented on #748
Closing it as dup. please redirect any questions related to the topic to the [documentation issue](https://github.com/pyscript/pyscript/issues/146#756).
If you're facing a different problem or think might have encountered a bug please feel free to open a new issue.
If I misinterpreted your issue and you think it should still be open please reply here and we'll reopen it.
Thank you!

[2022-09-12 12:02] marimeireles commented on #558
Yes @marianoweber.
My hope is that the team will have more ability to focus on it by the end of September...
But I think this is a relevant issue we should tackle sooner rather than later, so I'm marking it here to bring it up in the next meeting.
Will update this issue soon with what I learn.
Thanks!

[2022-09-12 12:11] marimeireles commented on #656
Alright, thank you for your input here.
So I'm closing this one as solved. =)
If folks here disagree, please feel free to reopen and if you think you have a better solution please speak up.
Cheers!

[2022-09-12 12:11] #656 closed

[2022-09-12 12:56] #612 closed

[2022-09-12 12:57] marimeireles commented on #613
Closed by Philipps PR and later on improved by Antonio.

[2022-09-12 12:57] #613 closed

[2022-09-12 12:57] marimeireles commented on #616
Closed by Fabio's PR.

[2022-09-12 12:57] #616 closed

[2022-09-12 12:58] #660 closed

[2022-09-12 13:18] marimeireles commented on #595
@do-me
Do you think the solution linked in this issue fits your use case? https://github.com/pyscript/pyscript/issues/756
Also, I think you already found a solution? Not sure the last time we talked you said you had something almost working?
Lemme know if you need help, we can sync =)
I think it'd be really cool to have docs on it and we can do it on a style of "how to". Basically just some code s

[2022-09-12 13:23] marimeireles commented on #700
Hey @Prakash1124 why would you like this change?
Cheers.

[2022-09-12 13:41] pauleveritt commented on #701
I agree on the "uncanny valley" part about JSON for Python folks. Of course, we have some schizophrenia about whether PyScript should feel natural to Python or Web folks.

On the last part...I didn't know CE couldn't be self-closing. FWIW, I'm hoping `py-config` isn't a CE. I just tried in Chrome at least, and this:

[code]

...does the following in Chrome dev console:

[code]

[2022-09-12 13:49] antocuni commented on #701
according to this SO answer (which includes link to the HTML spec which I admit I didn't check), only few elements in HTML are allowed to be self-closing:
https://stackoverflow.com/a/23962294

[2022-09-12 13:54] pauleveritt commented on #701
Ok, valid point. We shouldn't do something which violates the spec, even if it happens to work. So the self-closing part is out.

I still think putting simple values as attribute-value pairs is a nice way out of the parser/format problem described above. However, if we have agreement on the payload of the text node, then I retract the simple attribute suggestion.

[2022-09-12 14:20] marimeireles commented on #675
Hey @echarles we hear you!
It's not super high on the priority list for now but it's definitely something in our minds for the future.
If you  or anyone experienced in creating npm packages want to give a try though, I'll give my best to offer support.
Cheers and thanks for opening the issue :)

[2022-09-12 14:40] marimeireles commented on #688
@sumahadevan that's great feedback, thank you!
I think we all missed it, but it makes sense.
Would you be open to write a fix for it? As you said, I believe just running a "make clean" or removing the directory would work.
Cheers and thanks!

[2022-09-12 15:37] sumahadevan commented on #688
@marimeireles I'll be happy to take care of the fix.

[2022-09-12 15:40] marimeireles commented on #688
Awesome!
Ping me if you get stuck 😄

[2022-09-12 16:05] #585 closed

[2022-09-12 16:05] marimeireles commented on #572
This was fixed.

[2022-09-12 16:05] #572 closed

[2022-09-12 16:05] marimeireles commented on #485
Was also fixed.

[2022-09-12 16:05] #485 closed

[2022-09-12 16:14] antocuni opened #761 "<py-script>, <py-button> and <py-inputbox> etc. are executed in a non-obvious order"
Currently there are three tags which allow to execute python code: `<py-script>`, `<py-button>` and `<py-inputbox>`, but the order in which the python is execute does not reflect the order in which they appear in the HTML page.
Consider this example:
[code]

I would expect the following output:
[code]

But it prints:
[code]

This happens for a combination of reasons:
1. we use `<script defer src="

[2022-09-12 17:49] dylanjcastillo commented on #758
Hey @marimeireles,

Thank you. PyScript is such a great library. I have been loving working with it!

I realized that the issue isn't really what I described. There seems to be some weird behavior if you have a `py-repl` sending its output to a specific element and a `py-script` listening to events and sending its output to a different element.

I made a minimal reproducible example here: https://

[2022-09-12 18:01] do-me commented on #595
Hi @marimeireles!
Thanks for coming back to this issue.
I'm not at home this week but I'll have a look at the new docs next week. Looks promising!

I might have found a way for the last missing piece (binary downloads like excel) via octet streams and DOM manipulation. I didn't find the time yet to test properly, but as soon as I succeed, I'll come back here! So technically the issue is not yet 10

[2022-09-12 23:33] fpliger commented on #693
I was (am) sure @pauleveritt and @tedpatrick  would have many opinions in common 😉

[2022-09-12 23:36] pauleveritt commented on #693
Indeed! I did a bit more on the interceptor and locator stuff. Eager to help, but if you have it sorted, feel free to close this issue.

[2022-09-13 08:29] antocuni opened #763 "Use a plugin system to refactor the life cycle of a PyScript page"
TL;DR: I'm proposing to model the life cycle of a PyScript page using a plugin system. The main logic is very slim, it calls hooks at well defined times, and most of the functionality is implemented inside plugins, some of which are builtin. This is loosely modeled after what e.g. `pytest` does, but I'm sure there are other systems following a similar model

In order to design the new system, we n

[2022-09-13 08:40] antocuni commented on #763
**Proposal for a refactoring**

The execution logic described above is a bit messy and it's not obvious to follow what's going on. Let's try to determine a high-level summary of what we want to do:
   1. load the config
   2. determine the runtime, add a `<script>` to featch/load/initialize it. We want to do this is early as possible to minimize the latency
   3. open the splashscreen
   4. define

[2022-09-13 08:41] antocuni commented on #763
**Examples of plugins**
The following code shows more or less how to implement the current logic with the plugin system defined above:
[code]

[2022-09-13 08:49] antocuni commented on #763
**Open questions**

- sync or async? The code above is mostly sync, apart when we wait for the runtime to fully load. Maybe it's a good idea to declare all hooks as `async`, start of of them asynchronously and then `await` all before moving to the next hook?

- defer or not defer? The code above assumes that `main()` is executed after the page has been loaded, thanks to `defer`. We might want to r

[2022-09-13 08:54] marimeireles commented on #758
Hi @dylanjcastillo thank you for the example.
I see what you mean now.
This issue will be fixed once the PR I posted earlier is merged.
Our current output mode is v. wonky, but hopefully the PR will make it more consistent :)

[2022-09-13 12:06] FabioRosado commented on #763
This is both a great proposal and a great explanation of the execution flow! I've definitely been thrown off a few times when working on the PR to move the custom elements to its own module.

Quick question/comment:

[code]

Should we wait for runtime before we start iterating over the plugins? I'm asking because this will likely throw that "run in undefined" since `runAfterRuntimeInitialized` wil

[2022-09-13 12:22] ntoll commented on #763
Epic write up @antocuni - a really useful summary.

Questions/points:

* Why is the splash screen not the first thing we do (i.e. giving user some indication that something is happening)..?
* It's not obvious that `configure` comes before `start` (which feels like it should come first) in the `Plugin` class. How about `start` -> `initialise` ..? The others seem to make sense.
* I like very much th

[2022-09-13 12:38] sumahadevan commented on #688
@marimeireles thanks for the offer to help - working alone, I very often struggle a bit initially to get things correctly configured etc.

Today I have fixed the bug in copying the build folder to correct location under examples, but needed to discuss other related issues before raising a pull request.

1) Firstly, the original error in the copy command does not actually require a clean - I realiz

[2022-09-13 12:40] sumahadevan commented on #688
Repasting the code in 1) above as it got reformatted.

examples:
	mkdir -p ./examples
	cp -r ../examples/* ./examples
	chmod -R 755 examples
	find ./examples/toga -type f -name '*.html' -exec sed $(SED_I_ARG) s+https://pyscript.net/latest/+../../build/+g {} \;
	find ./examples/webgl -type f -name '*.html' -exec sed $(SED_I_ARG) s+https://pyscript.net/latest/+../../../build/+g {} \;
	find ./example

[2022-09-13 13:45] dylanjcastillo commented on #758
Awesome, thank you very much!

[2022-09-13 14:55] antocuni commented on #694
this looks like an interesting idea.
I don't know much about web technologies, is this a standard practice?

[2022-09-13 14:59] #673 closed

[2022-09-13 14:59] pauleveritt commented on #694
Not a standard practice, as people like using all-encompassing JS frameworks these days instead of the web platform.

Compared to using `console.log` as a message broker though...it might be more standard. 😀

Think about it, let me know if there's interest. I have a simple writeup, code, tests...outside PyScript.

[2022-09-13 15:36] tedpatrick commented on #763
The browser has an **excellent** event system. It is a very effective way to handle plugin-like systems and the api is very small, supports custom events, and you have likely already used it via addEventListener.

Event Phases
- Capture - Event from root to target. Think: events arriving
- Target - Event at the target. Think: events delivered at target
- Bubble - Event from target to root. Think:

[2022-09-13 16:07] linuxesdios opened #765 "problems with joblib, keras and tensorflow in pyscript"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a duplication
- [X] I already searched in Google and didn't find any good information or help

### What is the issue/comment/problem?

problems with joblib, keras and tensorflow.

When I run the following code, the system crashes and doesn't allow me to see anything. Could it be a capacity problem?

[2022-09-13 17:00] pww217 opened #766 "[Discussion] Examples and their use for pyscript.net, locally, and for testing"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a duplication
- [X] I already searched in Google and didn't find any good information or help

### What is the issue/comment/problem?

The way we've handled examples thus far has been a bit messy.

**Current state of examples** is that they exist in the root directory and point to `pyscript.net/lat

[2022-09-13 17:13] sumahadevan commented on #751
@antocuni @JeffersGlass I was following your discussion regarding the py-script tags closely, and have now verified that the correction above in file runtime.ts (that is, there should be no 'await' before 'script.evaluate') is indeed correct, and fixes BOTH the above issue AND issue #678 (the fact that is fixes #678 may be a little surprising):

1) I checked that making this one-line correction ac

[2022-09-13 17:41] sumahadevan commented on #678
@antocuni This issue is resolved by the same fix as #751, and the fix is in fact the same that you have suggested in the discussion above, namely WE SHOULD NOT USE "await" before invoking "script.evaluate()" within the scripts-processing loop in runtime.ts. I made this one-line change and verified that the above issue is indeed resolved, namely the WebGL example successfully completes loading. Ths

[2022-09-13 19:53] antocuni commented on #763
Let me answer to various questions one by one.

reply to @FabioRosado

My idea is that some plugins might want to run before the runtime is initialized (e.g., the splashscreen). But note that not all the hooks receives the `runtime` argument: when you receive it, you can be sure it is ready

---

reply to @ntoll

My idea is that we want to start downloading pyodide as soon as possible, and thus we

[2022-09-14 03:46] tedpatrick commented on #763
Reply to @antocuni

The different phases allow you to listen in different locations. Sometimes you want to capture as events go down the DOM towards the target (there is an API for canceling events, if cancellable), sometimes you are only interested in events at the target (click), and sometimes you want to capture the event as it returns up the DOM tree.

I assume py-config can calculate the thin

[2022-09-14 09:18] FabioRosado commented on #726
This issue was fixed with #747, closing now 😄

[2022-09-14 09:59] karan-khatri commented on #261
Yeah, that one is a good idea!

[2022-09-14 10:00] karan-khatri commented on #261
Yeah, That's a good idea.

[2022-09-14 10:27] ntoll commented on #763
My 2c.

Can we marry the simplicity of @antocuni's "flow" and the inherent idioms of the browser (a la @tedpatrick's description of events)..? I suspect this would involve defining new `CustomEvent`s to which other things subscribe. My biggest concern with this approach, though, is the asynchronous nature of how things unfold... it feels like we need a deferred/future/promise to resolve when all t

[2022-09-14 12:12] marimeireles opened #767 "A few different MIME types don't work"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

Here you can see our current methods:
[code]
And their implementation:
[code]
As you can see not all of them map to an implementation which makes them not possible to use (

[2022-09-14 13:44] antocuni opened #768 "Behavior of display() targets"
Related issues/PRs: #622 #635, #749

After lot of discussion, I think we agreed about what we want, which is:
[code]

The general consensus is that the default `target` is "here", i.e. we want to insert a sibling of the `<py-script>` tag. So the code above will produce the following DOM:
[code]

I think that in this example the semantics is clear, straightforward and intuitive. However, things bec

[2022-09-14 13:44] antocuni opened #769 "Behavior of display() targets"
Related issues/PRs: #622 #635, #749

After lot of discussion, I think we agreed about what we want, which is:
[code]

The general consensus is that the default `target` is "here", i.e. we want to insert a sibling of the `<py-script>` tag. So the code above will produce the following DOM:
[code]

I think that in this example the semantics is clear, straightforward and intuitive. However, things bec

[2022-09-14 13:57] philippjfr commented on #769
Thanks for the great writeup, overall, despite the complexity, I still think the dynamic scoping behavior is what I'd intuitively expect. If we decide the complexity is too much my second vote would go for being fully explicit. Everything else is, imo, a lot of mental overhead for users or simply non-intuitive.

I think this should be possible using [ContextVar](https://peps.python.org/pep-0567/).

[2022-09-14 15:41] ayirpconda commented on #768
https://github.com/pyscript/pyscript/issues/769 is duplicate and has comments. Closing this one.

[2022-09-14 15:41] antocuni commented on #769
that's interesting because it's exactly what I would not expect :).
But the big question here is: what is the *exact* semantics which define what is the "current target"?

uhm, this is interesting.
I might be happy with the following semantics:
- the "current target" is defined only when you are directly executing a `<py-script>`
- the "current target" is stored in a `ContextVar` so that is works

[2022-09-14 16:18] tedpatrick commented on #769
It feels like display() has overlap with the Element api.
[code]

It also feels like the output target here should be configurable.

`<py-script>` configured
[code]
[code]

`<py-config>` configured
[code]

I do not believe we need to wrap text in display(string) as TextNode is a valid DOM type and is generated purely from a string in the DOM api.

There are some important aspects to writing to the

[2022-09-14 18:46] fpliger commented on #769
Thank you @antocuni ! This is a great summary!

I'll say dynamic scoping behavior is exactly what I'd expect as well. I will risk here and say that @pzwang  vote goes there too. In general I think this is very familiar to anyone used to Notebooks. You get your output in the context of the cell that is executing code (not defining!).

In that sense, actually most examples above don't really seem an

[2022-09-14 19:30] fpliger commented on #763
Thank you @antocuni  this is an **excellent** write up and so useful in so many levels! I'll split my comments separately to try to avoid mixing concerns (I already know I'll fail but, hey, one can try!).

The way I see there are 4 layers to this:

1. Current status/analysis of the flow and finding areas of opportunities to improve (I'll provide feedback to each item that needs it below)
2. How do

[2022-09-14 19:43] fpliger commented on #763
## Proposal for refactoring

As I hinted above, I'd like this to not be the default behaviour but to:

1. have a less invasive default behavior
2. allow plugins/users to fully customize and control this

+1 on ~~import~~ load python plugin (`pyscript_init` is an implementation detail and depends on the hooks we will define)

do you mean only `<py-script>` tags? or you include anything that actuall

[2022-09-14 21:05] fpliger commented on #763
## Plugins API proposal

I'll be honest and start with saying that I'm confused. I thought we've been talking about Python plugins but yet the proposal, in the issue is not. I mean, we always said we should accept both types, Python and JS plugins so not that the one negate the other but I thought we specified we wanted to start with Python support (even if [a little, for some definition of little

[2022-09-15 01:33] #685 closed

[2022-09-15 10:14] marimeireles commented on #595
Alright! :)
I'm around just ping me.

[2022-09-15 11:59] antocuni commented on #769
this is something which came up many times already, and I don't really understand it. From my POV notebooks cells and `<py-script>` tags are something *completely* different: one is interactive and REPL-style, the other is non-interactive. Notebooks have lots in common with `<py-repl>`, not `<py-script>`, IMHO.
That said, I think that one outcome of this conversation is that there is no behavior w

[2022-09-15 14:01] marimeireles commented on #769
The current behavior is: we only display by default on `py-script` tags. Too give more color to my explanation if you run:

[code]

You'll get the `py1` id, instead of the `what` one. The reason for that is the only time we run the display code is when we run python code and not any other time. It's on my PR, `base.ts`:

[code]

That's just building on top of previous behavior... And I imagine if

[2022-09-15 14:16] marimeireles commented on #769
Sorry my page wasn't updated here are some more cents.

I hear you!
I also have this feeling I'd expect things from being dynamic, but I'm biased towards Jupyter notebooks.

I will run some tests trying this once we merge the current PR.

You're saying we should rules in place that enforce this behavior (as in implemented in the code and throwing warnings or errors? Or just somewhere in the docs a

[2022-09-15 17:05] sumahadevan commented on #751
I have made a set of Pyscript examples to compare the behavior of Python's asyncio's async/await with that of Javascript's async/await. The behavior of Python's version of async/await is generally similar to that of Javascript's - namely, where you put the await determines whether it will block the loop or not. There is however one key difference in Python/Pyscript's behavior, as shown in example

[2022-09-15 17:26] JeffersGlass commented on #769
I hate to add more cooks to this great kitchen, but :sweat_smile:

## Precedence

I'm hoping to clarify the precedence of the various function-arguments and tag-attributes as they've been discussed. I agree with @antocuni's desire not to overcomplicate what users need to learn, but I think the following order (from most-explicit to most-generic) is reasonable and not overcomplicated.

Here's what

[2022-09-15 19:47] JeffersGlass commented on #751
@sumahadevan This is great work! And really quite interesting as a set of use cases and test cases.

I do wonder if part of the behavior we're seeing in that last example (`async_await_mixed_blockingloop_pyscript_twice`) is perhaps something that's unique to the Pyodide environment, and not to Python more generally. Maybe? Since the Pyodide runtime has a custom webloop constantly running (which `a

[2022-09-15 20:37] #701 closed

[2022-09-16 11:50] marimeireles commented on #765
What's the error message?

[2022-09-16 11:53] marimeireles commented on #694
Ah, this is interesting.
I wonder if it could be incorporated here: https://github.com/pyscript/pyscript/issues/763#issuecomment-1246195260 :)

[2022-09-16 12:44] pauleveritt commented on #694
Crap, I didn't see that. I didn't realize I wasn't subscribed to all activity.

I think I might need to bow out on plugins. I have too many opinions on this topic and it's going to be disruptive.

[2022-09-16 12:50] pauleveritt commented on #763
My two cents: I agree with @fpliger ... I think the lifecycle on the JS should be the minimum.

I confess to a secret agenda: I'm hoping to prove we can write custom elements completely in Python. I recognize that's a colossal change. I doubt PyScript will look at it and I'll do it as a Pyodide app. But in that mode, you want the "source of truth" in the interpreter.

[2022-09-16 12:54] pauleveritt commented on #763
Now, a more constructive response to @antocuni and his work. 😀 I have "Diary Driven Development" showing your 1-5 ("load config" to "wait until the runtime is ready") in a dirt-simple fashion:

- Have a well-known data attribute added on startup to the body `<body data-pslifescyle>`
- As things change, change the value
- Have Mutation Observers that watch this and act

I have a feeling that, if we

[2022-09-16 14:44] marimeireles commented on #766
Maybe they should be inside of `build` to make a distinction on the raw examples we have on the root of the directory? I really don't have strong opinions on this anymore. If they live on `pyscriptjs` or `pyscriptjs/build` I think both are a fine place. If we make any change, it's important to check all the commands that are interacting with it on the `Makefile`, and also the `yml` files for the C

[2022-09-16 15:02] antocuni commented on #769
Wow, lots of very valuable discussion here, thanks to everyone who is contributing! As usual, let me try to answer some comments individually.

re @marimeireles

Do you mean that `hello` would be displayed as a sibling of `py1`, i.e. *before* `world`?
If so, this is what I called "lexical scoping" and it seems that everybody agrees that it's a bad idea, so in that case I fear you have to change yo

[2022-09-16 15:06] marimeireles commented on #769
Yes, that's what I mean and what I understood we were going for. I can change it. Have to think about how.

[2022-09-16 15:14] marimeireles commented on #769
But the problem is more complex than what this example shows.
It's just "lexical" because in this specific example we're not running any `py-script` tag. (You'll see that the current behavior is disorganized instead of "lexical" or "dynamic" though.)
If we would be running a `py-script` tag, on the other hand, it'd be dynamic.

See the following:
[code]
This prints out in the HTML:

[code]

This h

[2022-09-16 15:16] marimeireles commented on #769
I marked you at the PR but
[code]
This is the relevant line for this discussion.

[2022-09-16 15:17] antocuni commented on #769
exactly. In that case, it should be an error but that's precisely what we are trying to decide with this discussion :)

[2022-09-16 15:24] rth commented on #765
As far as I know tensorflow (and keras) has not yet been packaged for WASM (at least the tensorflow Python package != tensorflow.js) so it is expected that this would not work.

[2022-09-16 15:43] pauleveritt commented on #766
FWIW the Collective anticipates moving the examples out of the core, but that decision is still underway. I have a prototype for a new approach on examples that I wrote up over the summer.

[2022-09-16 15:54] marimeireles opened #770 "Write docs on how to contribute a PR and remove linting commands from Makefile"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other feature requests and couldn't find a duplicate (including also the ``type-feature`` tag)
- [X] I confirmed that it's not related to another project area (see the above section)

### What is the idea?

To improve the quality of the PRs.

Good practices:

To start from scratch:

- fork the repo
- have your local fork as orig

[2022-09-16 17:31] JeffersGlass commented on #769
I think perhaps I confused things by using the term 'current tag' above, which I realize in #749 has special meaning as a global variable. A more accurate term for me, above, would have been "most-recently evaluate()'d py-script/py-repl/etc tag or the source tag of the most-recently trigged py-on* event".

Essentially, we can use ContextVars to create this behavior, and do away with the global CUR

[2022-09-17 00:41] 21Turtles opened #771 "Js import doc failure"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

JsException(PythonError: Traceback (most recent call last): File "/lib/python3.10/site-packages/_pyodide/_base.py", line 429, in eval_code .run(globals, locals) File "/lib/

[2022-09-17 09:25] sumahadevan commented on #688
I have now also added a line in the Makefile to automatically remove the pyscriptjs/examples/build folder each time.

After some thought I decided not to automatically remove the pyscriptjs/examples folder each time, as this folder is often used for work-in-progress when creating new examples (I myself created several examples to test another issue a couple of days ago and realized they would all

[2022-09-17 09:34] sumahadevan commented on #770
I think the above information is very helpful when preparing a new PR. In particular, not being fully aware of the specific requirements of this repository, I would very likely have missed the additional steps for running 'pre-commit' and 'make tests'.

And of course, clearly specifying the other standard good practices to be followed is also extremely helpful.

[2022-09-17 10:49] FabioRosado commented on #688
Hello @sumahadevan  :wave: usually is best practice to create a specific branch for each change. As a maintainer of other projects, using branches makes it easier to checkout the changes and even push new commits if needed. If you use main when I pull your changes it will override my main so then I need to fix that.

Hope this helps!  Let me know if you need help with pre-commit or anything else 👍

[2022-09-17 11:16] sumahadevan commented on #688
@FabioRosado yes, this is vey helpful and I understand how using a new branch allows you to separately review my changes in that branch, and even further correct them if needed. I will create a new branch with my changes before submitting the PR.

Regarding pre-commit, I do need one piece of information. I located the .pre-commit-config.yaml file in the root folder, but when I run

pre-commit --ve

[2022-09-17 11:27] FabioRosado commented on #688
Have you activated your conda environment? When you run `make setup` we create a conda environment at `env/` you can activate it by running `conda activate env/` or `conda activate pyscript/env/` if you are in the root folder.

If you haven't yet, can you try activating the env and run `pre-commit` after? If it works with the environment activated, you will need to install it with  `pre-commit ins

[2022-09-17 12:02] sumahadevan commented on #688
Yes, that works beautifully. Activated the conda environment and the `pre-commit` command was available. I then ran 'pre-commit install' to setup the pre-commit hook.

Thanks for giving the details! (I haven't used this tool before and was following the instructions on its web page so your guidance was invaluable.) I will now do the necessary for the new branch for the pull request.

[2022-09-17 12:19] FabioRosado commented on #688
That's great news! I'm glad I was able to help you with this 😄

[2022-09-17 23:09] fpliger commented on #769
Ok. Remove the interaction part of it for a second and abstract it. From an execution standpoint, both are the same thing, just the execution of a block of code.

+1 on that

+0 for right no but really think we should explore solutions right away

That's where we disagree. Typing and verbosity does matter imho. I pretty strongly think that it matters and makes things more accessible.

In general,

[2022-09-18 18:21] FabioRosado commented on #759
Just poked at it a bit and it seems that if we fix the URL the d3 example work.

I know I've seen this working in the past, so I'm not sure if this was just some recent change in d3/skypack itself?
Either way replacing `https://cdn.skypack.dev/d3@7` with `https://cdn.skypack.dev/pin/d3@v7.6.1-1Q0NZ0WZnbYeSjDusJT3/mode=imports,min/optimized/d3.js` seems to have fixed the problem

[2022-09-18 23:18] leriomaggio commented on #515
I second this, but I have the impression that what happens in my case is a bit different.

I am using the `latest` version from PyScript CDN along with a compiled-from-source version of `Pyodide` (i.e. `0.22.0-dev0`)

[code]

It seems that the `py-config` directive is completely ignored: there is no trace in my browser inspector of the local `pyodide.js` being fetched, whilst the default built-in

[2022-09-19 07:15] marimeireles commented on #771
Hi, Coups you please offer more context on what you were trying to achieve? what's the command you were trying to run?

[2022-09-19 07:28] marimeireles commented on #759
Hey Fabio! It seems like this issue is caused by some upstream problem in pyodide that was fixed. We just need to update the version we're using fir Pyscript and this should be good again.

[2022-09-19 07:29] marimeireles commented on #759
But it's puzzling that your solution also works
Maybe we wait for the Pyodide thing just to be sure?

[2022-09-19 07:39] leriomaggio commented on #515
Re runtime configuration with `latest` PyScript: as a matter of facts, it seems it's not specifically a matter of local Pyodide, but more generally with the `py-config` tag getting ignore.

Changed with a different Pyodide version from CDN - as shown below - and still doesn't work

[code]

Again, this works perfectly with `alpha` release

HTH

[2022-09-19 10:50] misolietavec opened #777 "Give credit to pyodide"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a duplication
- [X] I already searched in Google and didn't find any good information or help

### What is the issue/comment/problem?

I am using `pyodide` sporadically, now looking at `pyscript`. Where would be `pyscript` without `pyodide`? I have a strong feeling that  in `README.md` should be at

[2022-09-19 11:05] FabioRosado commented on #759
Hey Mariana!  That's good to know! I'm assuming that by providing the URL that contains the js file, pyodide is probably just importing that file and that's why it works :thinking:

I'll revert the changes in my PR to add tests since I don't think it's worth blocking it for this one test :smile:

[2022-09-19 13:03] sumahadevan commented on #751
@JeffersGlass I finally got round to checking the corresponding async/await behavior of asyncio in Python itself, and I need to make some important corrections to what I had said earlier regarding the four Pyscript examples.

1) Firstly, it is good that you were able to replicate the same log in Pyodide, and we would expect this as Pyscript uses Pyodide internally (and I also set up a HTML file wi

[2022-09-19 13:05] sumahadevan commented on #751
The lines in bold in the Python program above were actually Python comments - though I guess you would have figured that out.

[2022-09-19 13:39] sumahadevan commented on #751
Also, the Python indentation has been lost (though the code is straightforward).

[2022-09-20 01:23] JeffersGlass commented on #769
(Apologies for the delay on this, I had hoped to have more time over the weekend.)

As promised, I've build a little demo of how this could work using ContextVars, over at [JeffersGlass/output-contextvar](https://github.com/JeffersGlass/pyscript/tree/output-contextvar). It's built on top of @marimeireles work on #749 (much good stuff! And so much code _removed_!)

If you're interested, the easiest

[2022-09-20 14:26] NehaP92 opened #781 "Runtime issues with <py-config> tag"
Issue Resolved
-------------------------------------------------

### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a duplication
- [X] I already searched in Google and didn't find any good information or help

### What is the issue/comment/problem?

I’m trying to use a higher version of pyodide with pyscript by including the tag:

<py-config>

[2022-09-21 12:51] marimeireles commented on #688
Oh sweet!
Sorry I missed this (was sick!) and thank you so much for jumping in @FabioRosado 🙏

Thanks for this. Brought it up to the team cause I have no idea what are the best practices here.
I'll prbb open a new issue on it (or feel free to open one too) and then mark you there to continue this conversation.

That's so cool! And it's great because I have no idea how to do Windows things 😅
I'll l

[2022-09-21 13:42] #781 closed

[2022-09-21 14:22] #770 closed

[2022-09-21 14:25] #688 closed

[2022-09-22 20:00] zoreu opened #785 "how to use open_url with headers?"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a duplication
- [X] I already searched in Google and didn't find any good information or help

### What is the issue/comment/problem?

how to use open_url with headers?

o know just:
from pyodide.http import open_url
how to use open_url with headers?

[2022-09-22 23:32] zoreu opened #786 "How to add video player with pyscript?"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a duplication
- [X] I already searched in Google and didn't find any good information or help

### What is the issue/comment/problem?

How to add video player with pyscript?

I'm trying to add player code to a div and I can't.
the player code is this: https://videojs.com/getting-started

[2022-09-23 10:59] The-Compiler commented on #577
I agree that the instructions on the page seem rather confusing, though - they don't mention that you need to build anything, and make it seem that you can simply download the zip (step 1), unzip it (step 2), and use the assets (step 3, mentioning `pyscript.css` and `pyscript.js`).

[2022-09-23 11:48] marimeireles commented on #769
I think I could live with the following semantics:
[code]
+2

+2

----------------

@JeffersGlass thank you for putting this together!
The following example:

[code]

Should throw an error as it's not allowed (as we've discussed in this issue. I think we converged to that?).

**Why use ContextVars:**

At least in my opinion the main reason for using `ContextVars` is to test corner case behaviors l

[2022-09-24 14:55] auguzsto opened #787 "Error in py-env sqlite3"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

When importing the sqlite3 package on the <py-env> page, it cannot perform the import.

Image of code:
-

![image](https://user-images.githubusercontent.com/40308971/192104

[2022-09-24 18:50] darabos opened #788 "No module named 'utils' on simple_clock.html"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

This is not a duplicate of #641. In that case the issue was reported on a local installation. But this also happens by simply visiting https://pyscript.net/examples/simple_

[2022-09-25 20:38] tedpatrick commented on #787
The `sqlite3` module is part of the python standard library and is bundled within the piodide release. It does not need to be loaded via `<py-env>` or `<py-config>` to be imported and used within your app.

example:
[code]

[2022-09-25 20:38] #787 closed

[2022-09-25 21:12] tedpatrick commented on #788
The html on [the example](https://pyscript.net/examples/simple_clock.html) is pointed to the `/alpha/` release not `/latest/`. This example now points to `/latest/` within the main branch [here](https://github.com/pyscript/pyscript/blob/main/examples/simple_clock.html#L12) . I have tested this against both `/latest/` and `/unstable/` and it looks to be resolved. Once we release `2022.09.1` next we

[2022-09-25 21:12] #788 closed

[2022-09-25 21:27] tedpatrick commented on #786
The [video element ](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video) is fully supported within HTML. To interact with the video element from PyScript, you need to obtain a reference to the element via the id.

Example:
[code]

[2022-09-25 21:27] #786 closed

[2022-09-25 21:47] tedpatrick commented on #785
Per the Pyodide documentation open_url does not support headers, but [pyodide.http.pyfetch](https://pyodide.org/en/stable/usage/api/python-api/http.html?highlight=open_url#pyodide.http.pyfetch) does.

Example:
[code]

[2022-09-25 21:47] #785 closed

[2022-09-25 22:13] tedpatrick commented on #777
Here are the current references to Pyodide within the PyScript project in public-facing HTML:

- [pyscript.net](https://pyscript.net/) "PyScript is a framework that allows users to create rich Python applications in the browser using HTML's interface and the power of [Pyodide](https://pyodide.org/en/stable/), [WASM](https://webassembly.org/), and modern web technologies."
 - https://docs.pyscript.

[2022-09-25 22:40] tedpatrick commented on #765
There is no pure python or WASM targeted whl published for tensorflow as of today(9/25/2022).

As module publishing is handled outside of the PyScript project by module owners, it is thus a module owner issue.

[2022-09-25 22:40] #765 closed

[2022-09-25 22:51] tedpatrick commented on #700
[Custom Element Standard](https://html.spec.whatwg.org/multipage/custom-elements.html#custom-element-conformance) requires that all valid custom elements contain a hyphen. Since PyScript uses this standard, we must use `<py-` for any valid custom element.

[code]

[2022-09-25 22:51] #700 closed

[2022-09-25 23:35] tedpatrick commented on #674
All of the js global objects are exposed in the js module within Pyodide.

Here is an example that loops over results from `document.querySelectorAll("#main > *")`

example:
[code]

[2022-09-25 23:35] #674 closed

[2022-09-25 23:41] tedpatrick commented on #671
There is no pure python or WASM targeted whl published for qiskit as of today(9/25/2022).

As module publishing is handled outside of the PyScript project by module owners, it is thus a module owner issue.

Example:
[code]

[2022-09-25 23:41] #671 closed

[2022-09-26 00:26] tedpatrick commented on #670
The numerical types within JavaScript and Python are different and crossing the language boundary requires type conversion. The example below shows some aspects of the type conversion process from python to js.

I am going to close the issue. If you have an additional example you want us to review, please reopen the ticket. Thanks.

Example:
[code]

[2022-09-26 00:26] #670 closed

[2022-09-26 00:51] tedpatrick commented on #667
Your example is pointed at the alpha release of PyScript which depends on an older version of Pyodide.

alpha
[code]

latest
[code]

unstable
[code]

example using js module in `unstable`
[code]

[2022-09-26 00:51] #667 closed

[2022-09-26 00:53] #681 closed

[2022-09-26 01:02] tedpatrick commented on #637
Within PyScript today, we utilize TypeScript and Rollup which only work when using a NodeJS build process and the node ecosystem of libraries. I believe in using the right tool for the job and here is a clear case where NodeJS adds value to the project. At runtime, there is no NodeJS dependency and any end user can run PyScript with just a browser supporting WASM and Custom Elements.

PyScript Pla

[2022-09-26 01:02] #637 closed

[2022-09-26 01:06] zoreu commented on #785
but I don't want json output I want web scrap, read() doesn't work

[2022-09-26 01:10] #714 closed

[2022-09-26 01:24] tedpatrick commented on #699
The `js` module is different depending on what version of PyScript and Pyodide are in use.

This should work as expected in the `unstable` branch which will soon be released to `latest` and `2022.09.1` release

js on `unstable` ✅
[code]

On the module loading issue, you need to load the module via `<py-config>` within `unstable` release of PyScript as follows:
[code]

As this resolves the original

[2022-09-26 01:24] #699 closed

[2022-09-26 01:36] tedpatrick commented on #602
Within the `unstable` release soon to be `2022.09.1` here is a working example of this bug working.

Example on `unstable`
[code]

[2022-09-26 01:36] #602 closed

[2022-09-26 01:38] #575 closed

[2022-09-26 01:57] tedpatrick commented on #540
The HTML DOM ignores newlines. Here is an example showing the newlines are preserved in DOM writing but the browser is simply not rendering this whitespace.

Example
[code]

I am looking at the mime-type support built into the `write` function.

[2022-09-26 03:03] tedpatrick commented on #785
`pyfetch` can load anything the browser is allowed to load, It is not limited to JSON.

example loading html
[code]

[2022-09-26 11:16] tedpatrick opened #793 "Release Testing 2022.09.1"
We are feature complete for a release of Pyscript this week. We need your help testing 2022.09.1.

How to test 2022.09.1.RC1
[code]

What is new?
 - `<py-config>` support for both TOML (default) and JSON with a type attribute defaulted to type="toml"
 - `<py-env>` is marked as deprecated and will be removed in 2022.10.1 release
 - Reference Docs for each Element and Attribute (work underway)
 - Co

[2022-09-26 12:06] marimeireles commented on #540
Thanks for opening the issue @thenithinbalaji, I can reproduce this behavior. (Also on my newer implementation of the `display` method).
But... as @tedpatrick mentioned seems like this is a expected behavior by HTML?
One fix I found was changing HTML:

[code]

But not sure if it's a good fix as it seems like it changes a lot of things around.

[2022-09-26 12:14] marimeireles commented on #674
@tedpatrick should we close this then?
https://github.com/pyscript/pyscript/pull/702
Seems like your solution is all-encompassing.

[2022-09-26 16:47] JeffersGlass commented on #769
HI @marimeireles!

Exactly so - I've [updated the demo](https://dev.jeff.glass/pyscript-output-contextvar/outputtargeting.html) to highlight the behavior better, and added radio buttons that allow you to simulate:

- The user has configured a default output location in \<py-config\> (all unspecified output goes there)
- The user hasn't set a default output location (outputs go below their respecti

[2022-09-26 18:20] tedpatrick commented on #785
Yes see https://developer.mozilla.org/en-US/docs/Web/API/fetch#parameters

[code]

[2022-09-26 18:25] marimeireles commented on #759
I think this can be closed as complete as your PR was merged?

[2022-09-26 18:49] marimeireles commented on #746
I guess this is hard issue to solve... It'd require some redesigning.
But it's good to keep it in mind, we're planning to do some API redesign in the middle term future.
Thanks for updating here and for those interested in the problem in the comments posted by @fcrozatier there's a workaround to this issue.

[2022-09-26 19:20] JeffersGlass commented on #714
Agreed - this is fixed by using `runPythonAsync` for all scripts whether they require top level await or not. Thanks Ted!

[2022-09-26 19:25] JeffersGlass commented on #751
Since [PyScript 2022.09.1 has reached release candidate 1](https://github.com/pyscript/pyscript/issues/793), I think we should open a small PR that makes the small change in `runtime.ts` that we've been discussing.
[code]

[2022-09-26 20:12] zoreu commented on #785
how unblock cors? example: https://google.com

Access to fetch at 'https://google.com/' from origin 'null' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your needs, set the request's mode to 'no-cors' to fetch the resource with CORS disabled.

[2022-09-26 21:44] tedpatrick commented on #785
CORS is set and controlled on google's servers and PyScript is limited to the browser's security model (CSP and CORS).

[2022-09-27 03:17] #81 closed

[2022-09-27 03:31] tedpatrick commented on #95
Here id 2022.09.1 using setTimeout and setInterval

[code]

[2022-09-27 03:31] #95 closed

[2022-09-27 03:34] tedpatrick commented on #100
`npm run dev` works cross-platform on release 2022.09.1. Closing issue.

[2022-09-27 03:34] #100 closed

[2022-09-27 12:30] marimeireles commented on #769
I thought this was a good solution too. But I remember having a discussion with @antocuni where he disagreed.
So, tagging him here for his opinion.

Other than that I think this is great :)
Excited to have it as a PR... But first we need to merge the display one 😅 and probably have a final discussion here to summarize everything that should be implemented in a more clear way.

[2022-09-27 14:52] marimeireles opened #795 "ConsoleMessageCollection doesn't collect all console messages"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

We have a helper object to collect console messages:

https://github.com/pyscript/pyscript/blob/b674515d06a936008a13b74d4d8f74e0327eed3c/pyscriptjs/tests/integration/suppor

[2022-09-27 18:19] sumahadevan commented on #751
I would agree that making this change would at least partially fix the problem with the top-level await scripts, and I just saw that a 2022.09 release is out for testing, so getting this into the release would be good.

@JeffersGlass would you be doing the PR (or do you want me to do it)?

@antocuni your view on making this change? After this change, the two async  py-script tags do correctly prod

[2022-09-27 19:06] tedpatrick commented on #751
I am testing an approach using Promise.all() like so:

[code]
Locally, all tests pass and all examples work including the case provided by @antocuni and @sumahadevan

Please test the changes locally and post feedback. Thanks.

[2022-09-27 19:41] JeffersGlass commented on #751
@tedpatrick One hangup there is that async Python scripts that never terminate don't allow PyScript to finish initializing nor the loader to close:
[code]
Removing the `await` before does allow the loader to complete, though haven't tested that idea thoroughly at all...

My thinking is: `script.evaluate()` returns a promise, we collect those promises into an array and await them all as a single pr

[2022-09-27 20:03] tedpatrick commented on #751
I tested out this solution using void. This properly handles the Promise returned from script.evaluate().
[code]

[2022-09-27 20:50] sumahadevan commented on #751
@tedpatrick  will check this locally on my machine - the link to your branch seems broken (though I can make the same changes myself).

I wanted to add a small wrinkle to the above discussion. In base,ts, the routine "async evaluate()" returns a void promise (but a PROMISE nonetheless). The issue is that in runtime.ts, this is called DIRECTLY from the loop and awaited there. Let us suppose there a

[2022-09-27 22:16] tedpatrick commented on #751
I believe we have 2 conflicting issues.

1. Script evaluation order is off
2. When scripts contain top-level async code, they never return and do not hide the loader.

I believe we need to await all calls to `script.evaluate()` but I believe we need to do this within a Promise.all like so:

[code]
This results in very accurate loading behavior on all but 2 examples: Endless loop and root async awa

[2022-09-28 01:17] JeffersGlass commented on #751
@sumahadevan I would love to see a proof-of-concept of this, as I don't think I fully understand. But I'd love to play with it.

I would also point out, as you continue your investigations (_thank you again for your diligent and detailed work!_) that `asyncio` in Pyodide doesn't necessarily work exactly as it does on desktop, because Pyodide [uses its own event loop](https://github.com/pyodide/pyo

[2022-09-28 08:17] antocuni commented on #763
wow, lots of things to answer. Let's start from @fpliger comments:

good! I'll try get rid of it!

maybe it was not clear from my words, but my proposal should also remove the dependency on svelte stores: if you look, there is no global state and all plugins receive what they need (the config and the runtime) as parameters.

I *think* this is enough to kill svelte stores, unless I am missing somet

[2022-09-28 08:25] antocuni commented on #763
I don't understand: what do you mean with that?

personally I'm happy to move more logic to Python but we need to be aware of the tradeoffs:
1. at this moment in time, python is slower (might be good enough for some cases, not for others)
2. there are things which you cannot do in Python because you want to do them *before* the runtime is initialized

I like this idea, but it solves only a fractio

[2022-09-28 08:31] antocuni commented on #763
Thanks to all for the good feedback!
I think we all agree that we need to refactor/simplify the life cycle of the page. We agree less on the exact shape of JS plugins, which is hard to predict because we cannot anticipate what we will need until we have real use cases.

So, unless there are major objections I will proceed as follows:
1. start a PoC to refactor the life cycle of the page roughly fo

[2022-09-28 10:47] tedpatrick commented on #751
Some whys...

Why do we `await` here?  `await script.evaluate();`
A: Because we need to know when script execution is done.

Why do we need to know it is done? Some scripts are never done.
A: Because that is how the lifecycle works and `<py-loader>` is dependent on it.

Why is `<py-loader>` dependent on it?
A: This provides consensus to when to automatically close the loader

At the root, the load

[2022-09-28 10:51] tedpatrick commented on #751
PR is updated to `void script.evaluate();` https://github.com/pyscript/pyscript/pull/796

[2022-09-28 11:32] pauleveritt commented on #763
tl;dr I spent 12 hours last weekend writing a prototype and making a video related to this.

From the perspective of somebody writing something -- either a plugin, app, or just a page -- the "world" should be in Python. They shouldn't write part of their shareable thing in JS and part in Python.

Last weekend I wrote a prototype where `<py-counter>` was 100% in Python as a PyPI-sharable "component

[2022-09-28 12:26] sumahadevan commented on #751
@tedpatrick your explanation of why we need to await in the code (for processing all scripts) is very comprehensive, and it also clarifies the design of the code (and also highlights the important point that the loader issues need to be resolved separately and not by dropping the await). This definitely looks like the best possible solution (leaving aside the loader issues for a separate resolutio

[2022-09-28 12:55] marimeireles commented on #68
@MarcSkovMadsen I wonder if your problem is now solved?

[2022-09-28 12:58] marimeireles commented on #76
This issue is going to be completely resolved by https://github.com/pyscript/pyscript/pull/749.
Currently `pyscript.write` is deprecated and the `display` method will be the default way of showing elements in the UI, if you're interested in joining the discussion to help shape the API design feel free to jump in: https://github.com/pyscript/pyscript/issues/769
I'm closing this issue because it's n

[2022-09-28 12:58] #76 closed

[2022-09-28 13:00] marimeireles commented on #78
Is this a feature that we're expecting to develop and offer as a basis for the framework?
I guess so, right? :)
I think this will take a while for us to tackle @MarcSkovMadsen but thank you for opening the issue.

[2022-09-28 13:03] pauleveritt commented on #78
It's a good question IMO whether PyScript is an application or a framework. I've kind of felt that PyScript shouldn't ship a CSS file, as it should be a framework for others to make apps with a certain UI. Just my outsider opinion though.

In that direction, it would make sense for PyScript to also ship with at least one killer app, like a HyperCard thingy or something.

[2022-09-28 13:07] marimeireles commented on #78
Yeah, we've picked up on this discussion of app vs. framework thanks to your awesome walk through, thanks @pauleveritt!
I think it makes sense to offer some kind of base functionalities for most users (that are optional). I think it makes sense that the core pyscript has no CSS file, but I also see the value of offering a basic framework for users to just play.
Let's see how it develops!
(It'd be

[2022-09-28 13:13] marimeireles commented on #91
No requests yet. We will be tackling this in the future. But we have awesome documentation thanks to @emirkmo!
So, I'm closing this for now but we have this in mind.
Thank you for the issue.

[2022-09-28 13:13] #91 closed

[2022-09-28 13:14] marimeireles commented on #91
Forgot to add the links to the docs: https://docs.pyscript.net/latest/howtos/http-requests.html

[2022-09-28 13:17] marimeireles commented on #340
I guess this is very related to this issue: https://github.com/pyscript/pyscript/issues/78
I'm gonna centralize the discussion here, but ^ 78 is relevant for it :)

[2022-09-28 13:17] marimeireles commented on #78
Closing here because we're centralizing the discussion on #340.

[2022-09-28 13:17] #78 closed

[2022-09-28 13:35] #103 closed

[2022-09-28 13:39] marimeireles commented on #109
So I guess this is a documentation issue, correct?
I'll add it under an umbrella issue and reword it for folks.
Thanks for the contributions here! ✨

[2022-09-28 13:48] antocuni commented on #763
I agree that python plugins should be first class citizens and people should be encouraged to use them when possible and when it makes sense.

I think that there is also a misunderstanding about the meaning of "plugins". You seem to be talking about "widgets", which in my view are just a subset of possible plugins (see below).

As I already said, in this proposal "plugins" are modeled after the su

[2022-09-28 13:58] marimeireles commented on #114
I'm very far from understanding the JS ecosystem so well, but answering your first question:

I really see no way why this wouldn't be possible.

Regarding your second question, I'm not sure, but I don't think that's possible. I believe @tedpatrick has better expertise on this or @ntoll and can offer a better answer.

[2022-09-28 13:59] marimeireles commented on #114
Somehow I feel like this issue fits more like a forum format though because it's a question... Rather than a bug report or a feature request. But since it's an old one, no problem.
Sorry it took us so long to get to it!

[2022-09-28 15:34] pauleveritt commented on #763
Point taken. There are some bootstrapping and machinery things that are reasonable to make extensible. And indeed, I was more focused on the 95% case of widgets, casual folks making things they want to share with other people.

I'll take my prototype and video, convert it to a "Pyodide Custom Elements" blog series or something, just as a teaching exercise.

[2022-09-28 16:09] antocuni commented on #763
I think that you are correct here: I imagine that the vast majority of plugins will be custom widgets/components and we will have to make sure to fully support this use case. Thanks for pointing it out!

[2022-09-28 16:55] marimeireles commented on #140
Cool! Thank you for reporting back @ryanking13.
Guess I'm closing this one then since we updated to this version.
Cheers.

[2022-09-28 16:55] #140 closed

[2022-09-28 17:42] JeffersGlass commented on #173
I believe this is fixed by #684 - at least, the final example posted above does correctly work.

Conversations around escaping HTML-relevant characters in PyScript source are ongoing in #735 - but this specific issue is resolved.

[2022-09-28 17:42] #173 closed

[2022-09-28 22:38] #751 closed

[2022-09-28 23:39] #793 closed

[2022-09-28 23:41] tedpatrick opened #798 "Release Testing 2022.09.1 - RC2"
We are feature complete for a release of PyScript this week. We need your help testing 2022.09.1.

How to test 2022.09.1.RC2
[code]

What is new?
 - `<py-config>` support for both TOML (default) and JSON with a type attribute defaulted to type="toml"
 - `<py-env>` is marked as deprecated and will be removed in 2022.10.1 release
 - Reference Docs for each Element and Attribute (work underway)
 - Co

[2022-09-29 01:21] tedpatrick opened #799 "Logging seems overly verbose in 2022.09.1.RC2"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

Seeing lots of logging within the JS console from PyScript runtime like so:
![image (2)](https://user-images.githubusercontent.com/35942272/192917095-420da3e5-eb36-4736-be4

[2022-09-29 08:25] antocuni commented on #799
most of those logs are caused by `OutputCtxManager`, which will be removed as soon as we merge https://github.com/pyscript/pyscript/pull/749

[2022-09-29 09:33] philippjfr commented on #799
Will the `OutputCtxManager` removal be in 2022.09.1 or is that the next release?

[2022-09-29 11:26] antocuni commented on #680
yes, PR #743 fixes it. Closing the issue.

[2022-09-29 11:26] #680 closed

[2022-09-29 11:31] marimeireles commented on #799
@philippjfr next release :)

[2022-09-29 12:21] filyp opened #800 "Support for auxclick events"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

I'd like to bind python function to "auxclick" events, but to no effect. For "click" event it works fine.

Minimal steps to reproduce:
[code]

I verified that with JS I'm a

[2022-09-29 12:37] marimeireles commented on #155
Doesn't this get into privacy issues though?
When we talk about browser version/platform.

[2022-09-29 12:38] #156 closed

[2022-09-29 12:39] JeffersGlass commented on #800
I'm not seeing the same behavior you're seeing - for example, the following prints "CLICK" when clicking the left mouse button and "AUXCLICK" when clicking other mouse buttons:
[code]
This works for me in _alpha_, in _latest_ at time of writing (2022.06.1), and in _unstable_ (as of commit 00ab9a8). This is with Chrome v105 on Windows 10.

If you try the sample above, what behavior do you see? If i

[2022-09-29 12:41] marimeireles commented on #162
Yes. It's a requests issue, you can try to workaround using https://docs.pyscript.net/latest/howtos/http-requests.html
Feel free to ask for help if you get stuck!

[2022-09-29 12:41] #162 closed

[2022-09-29 12:42] marimeireles commented on #164
I think @antocuni is interested on this and working on something related?

[2022-09-29 12:43] marimeireles commented on #164
Somewhat related to https://github.com/pyscript/pyscript/issues/165
We could probably close these and work on an umbrella issue...

[2022-09-29 12:46] JeffersGlass opened #801 "No All Browser Events are Represented in py-on* Events"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

A handful of potential browser events are not currently representable using the `py-on*` event syntax, including `auxclick`, `compositionstart` and its related events, `foc

[2022-09-29 12:52] marimeireles commented on #177
Hey @mjgolda thanks for opening the issue. As @verhulstm said we don't have support for `request` but we do have docs on the workaround.
Please check them here: https://docs.pyscript.net/latest/howtos/http-requests.html
If you get stuck feel free to reach out!

[2022-09-29 12:52] #177 closed

[2022-09-29 12:54] marimeireles commented on #184
We have a session on our docs about that!
Check it out: https://docs.pyscript.net/latest/reference/faq.html
Cheers!

[2022-09-29 12:54] #184 closed

[2022-09-29 12:55] marimeireles commented on #187
Alright, closing this one as no response from reporter.
Please provide more information if still seeing the behavior. I recommend opening an new issue and using the current template.

[2022-09-29 12:55] #187 closed

[2022-09-29 12:57] marimeireles commented on #189
That's not really the behavior I observe.
If the REPL cell is not the last one when you run it it just keeps focusing on itself.
But I guess the idea is to focus on next, like notebooks.
And that's currently not happening.

[2022-09-29 12:59] marimeireles commented on #195
Yes, this has been a topic of discussion both in the pyscript-collective part and with the folks who created the `py-config`.
I wonder what's the end of this discussion? @madhur-tandon do we currently have the possibility to tag examples using `config`?
Thanks!

[2022-09-29 13:04] marimeireles commented on #240
Done :)

[2022-09-29 13:04] #240 closed

[2022-09-29 13:05] marimeireles commented on #237
Unfortunately we don't have request yet, folks.
It's in our roadmap but we have docs on a good workaround.
Let me know if any of you get stuck!
Link to the docs: https://docs.pyscript.net/latest/howtos/http-requests.html

[2022-09-29 13:05] #237 closed

[2022-09-29 13:06] marimeireles commented on #228
I think all the linting problems were fixed since this issue was opened.
So I'm closing as not relevant anymore, but please feel free to reopen if I'm mistaken.

[2022-09-29 13:06] #228 closed

[2022-09-29 13:21] pauleveritt commented on #195
Yep, there's an effort in the "collective" to have a unified concept for contributed examples that ship separately from PyScript. I've done a first prototype of this. Currently stuck hoping to get some review by others, but perhaps I should just ship it.

[2022-09-29 13:42] marimeireles commented on #195
Hey @pauleveritt what exactly are you talking about?
I thought I had reviewed everything you put out there?
Or are you looking for more folk's reviews?

[2022-09-29 13:47] marimeireles commented on #202
Closing this because I can't reproduce.
Feel free to reopen if it's happening.

[2022-09-29 13:47] #202 closed

[2022-09-29 13:50] pauleveritt commented on #195
Yes, I was holding out for a technical review of the "Diary Driven Development" for any co-maintainers. But it's probably just too early. I should skip the DDD and just ship it.

[2022-09-29 13:58] marimeireles commented on #195
You mean https://pscdemo.readthedocs.io/en/latest/building/proper_package.html correct?
I wish we had time to discuss a bit more on it, but personally I'd say go ahead. I think @fpliger and I gave some feedback here: https://github.com/pyscript/pyscript-collective/issues/25
But I think the general approach is that you should go forward with it...
I don't see any blockers from Fabio's and I part.
@

[2022-09-29 14:18] marimeireles commented on #226
@philippjfr's example doesn't work for me... Because I can't find `Plotly`, and if I just use the normal lib then it doesn't have the `react` attr.
When I try a simple example from their docs:
[code]
Also doesn't work, it says `n _call_with_frames_removed File "/lib/python3.10/site-packages/plotly/io/_renderers.py", line 533, in except webbrowser.Error: AttributeError: module 'webbrowser' has no a

[2022-09-29 14:25] marimeireles commented on #253
Cool.
Thank you @JeffersGlass, guess I'm closing this as resolved.
As we're discussing on how to improve it as a PyScript feature in different issues.

[2022-09-29 14:25] #253 closed

[2022-09-29 14:27] marimeireles commented on #258
Not super sure where to add it in our docs...
Maybe under "reference".
We can have a session talking about VSCode.
Thanks for reporting the issue, seems like it already helped a lot of people.
If you or anyone would like to contribute this information to the docs will be much appreciated!
We have docs on how to build the docs locally and if anyone needs help, feel free to ping me either here or on

[2022-09-29 14:31] marimeireles commented on #261
I guess I'm closing this as completed?
Not sure if we can do anything on our side?
I might be wrong, if you anyone thinks we can do something on our side please re-open it!
Thanks for posting this workaround @karan-khatri. Cheers!

[2022-09-29 14:31] #261 closed

[2022-09-29 14:34] JeffersGlass commented on #226
Interesting - both of @philippjfr's examples work for me in unstable (as of commit 00ab9a8), if `../build/pyscript.js` is changed to `../pyscriptjs/build/pyscript.js`

![image](https://user-images.githubusercontent.com/1931111/193059123-5e29d3eb-7ae6-4667-b57f-2887603e5a97.png)

Are you testing your example against the branch from PR #749?

[2022-09-29 14:37] marimeireles commented on #226
Okay. Weird!
No. It's just my environment. There's something here interacting it badly.
Alright, so I guess... I'll close this one? Since it's working for everyone :)
Thanks for testing @JeffersGlass!

[2022-09-29 14:37] #226 closed

[2022-09-29 14:38] JeffersGlass commented on #528
This issue is confirmed to be fixed in the current unstable version (2022.09.1-RC2).

[2022-09-29 14:38] #528 closed

[2022-09-29 14:41] JeffersGlass commented on #520
This issue is confirmed to be resolved as @aqemery noted, and is still resolved as of 2022.09.1-RC2

[2022-09-29 14:41] #520 closed

[2022-09-29 14:42] marimeireles commented on #276
Yeah we have this half implemented in our code. We need a way to rendering `md`.
Doesn't seem too complicated to fix, but I guess all of this will undergo redesign. So.. Will keep this one open and keep track of it in our output rendering EPIC.
Thanks for the issue!

[2022-09-29 14:43] marimeireles commented on #622
Relevant to the discussion as in we should keep in mind: https://github.com/pyscript/pyscript/issues/276

[2022-09-29 15:38] tedpatrick commented on #801
The event syntax has changed to align with the DOM event spec naming as follows:

The attribute `py-click` equates to the [DOM Event Spec `click` event](https://developer.mozilla.org/en-US/docs/Web/API/Element/click_event).

[code]

Additions can be added here: https://github.com/pyscript/pyscript/blob/main/pyscriptjs/src/components/pyscript.ts#L119-L211

[2022-09-29 20:33] captainwycliffe opened #804 "arrow functions in pyscript"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other feature requests and couldn't find a duplicate (including also the ``type-feature`` tag)
- [X] I confirmed that it's not related to another project area (see the above section)

### What is the idea?

okay.i am a javascript developer and i would really like to implement the use of arrow function in pyscript.Arrow function

[2022-09-29 20:52] emirkmo commented on #364
Hi @fpliger, I forgot about our conversation, but would this make more sense in upstream pyodide?

See https://github.com/pyodide/pyodide/issues/3160

If not, then I could add it here. I did in fact shim my own for fun, so it should be relatively simple to get it running.

The `requests.py` inside [/pyscriptjs/src](https://github.com/pyscript/pyscript/tree/main/pyscriptjs/src) could then simply im

[2022-09-29 21:13] pauleveritt commented on #804
Out of curiosity, what is it in PyScript that prevents you from using arrow functions in your JS?

[2022-09-30 08:19] madhur-tandon commented on #195
Not as of now unfortunately, CC: @marimeireles

[2022-09-30 10:08] joemarshall opened #805 "Serve pyscript with Access-Control-Allow-Origin header"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other feature requests and couldn't find a duplicate (including also the ``type-feature`` tag)
- [X] I confirmed that it's not related to another project area (see the above section)

### What is the idea?

Add Access-Control-Allow-Origin:* to the response headers for pyscript.js / .css on the default pyscript.net server.

Or se

[2022-09-30 11:23] pauleveritt commented on #805
OT: Would love to see anything you have @joemarshall about Atomics.

[2022-09-30 11:39] marimeireles commented on #316
Thanks for the feedback @JeffersGlass!

[2022-09-30 11:39] #316 closed

[2022-09-30 11:49] marimeireles commented on #313
Hey @amitsaha thank you for opening this issue.

Yes, you're absolutely right. Many things we used to take for granted are currently not possible with pyscript.
Using the debug is one of them. The lack of an unified solution for files system, I/O and requests are some other examples.

I appreciate your input here but this is a very broad issue, so I'm closing it because we currently have more spec

[2022-09-30 11:49] #313 closed

[2022-09-30 11:58] marimeireles commented on #804
That's a good question!
But also doesn't work for me locally.
Will investigate for a bit.

[2022-09-30 13:13] JeffersGlass commented on #316
Thanks @marimeireles - for anyone finding this issue in the future, as of release 2022.09.1, you can also use the  [add_event_listener utility function](https://pyodide.org/en/stable/usage/api/python-api/ffi.html#pyodide.ffi.wrappers.add_event_listener) from Pyodide 21. It handles proxy creation for you as well.

[code]

[2022-09-30 13:18] joemarshall commented on #805
@pauleveritt

Check this out - pyodide based streaming http requests (for progress or for consuming data as it comes in) implemented using atomics and SharedArrayBuffer

https://github.com/joemarshall/pyodide-http

Annoyingly Atomics.wait doesn't work on the UI thread, so that particular example still won't work in pyscript without adding horrible spin-waiting things in place of the atomics.wait,

[2022-09-30 13:43] joemarshall opened #808 "Feature: Run pyodide in worker"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other feature requests and couldn't find a duplicate (including also the ``type-feature`` tag)
- [X] I confirmed that it's not related to another project area (see the above section)

### What is the idea?

It would be nice if you could make pyscript code run in a worker.

Initially without DOM integration, but could add DOM int

[2022-09-30 13:53] pauleveritt commented on #808
FTR, I have a prototype (and a video walkthrough) re-imagining PyScript in a direction like this. It's too radical a step for this narrow ticket. But I wonder if you'd like to collaborate on kind of an explainer-style series. (I'll do most of the work if you'd like.)

[2022-09-30 15:06] marimeireles commented on #808
I guess @tedpatrick can offer some context on this also. :)

[2022-09-30 15:35] marimeireles commented on #804
Variables can't be declared in the js side and arrow functions also not working.
Seems like it's a no-fix for pyodide and for now we're pretty dependent on them... https://github.com/pyodide/pyodide/issues/2526
Don't think we'll have a fix any time soon... But Hood offers some work arounds in the linked issue.
If you're interested in tackling this I'd recommend opening an issue upstream.
Thank you

[2022-09-30 15:35] #804 closed

[2022-09-30 17:02] tedpatrick commented on #808
I love the idea of `<py-script>` attributes to define main/web-worker/sync/async behavior of script content. As to the names/api/behavior... that will take some time to define. This is an important use case to work through and get right. Part of the core planning after the 2022.09.1 release is to really sharpen our focus on what we want PyScript to be in time. We are starting to define that 🧭 head

[2022-09-30 17:07] tedpatrick commented on #808
Thought sample... 🤔
[code]

[2022-09-30 20:06] captainwycliffe commented on #804
Nice..i appreciate it

[2022-09-30 21:25] filyp commented on #800
Ah, turns out it works correctly.

On brave, when I have the console open the auxclicks aren't registered for some reason, but when I close the console it works fine. Also on firefox they are always registered no matter if the console is open.

Sorry, I should have tested it better. Thanks!

[2022-09-30 21:25] #800 closed

[2022-09-30 22:04] antocuni opened #810 "Don't hide undefined elements in the CSS"
Currently we have this CSS rule:
https://github.com/pyscript/pyscript/blob/8f8b4b1d39c6472a390fae5ae1e4589b2f39a349/pyscriptjs/src/styles/pyscript_base.css#L1-L3

I imagine that its goal is to make sure that the various `<py-*>` tags are not displayed until the various `customElements.define(...)` calls are made.

However, this opens the door to a lot of potential headaches: if an user make a typo

[2022-10-01 15:22] madhur-tandon commented on #798
Closing this since we released it 🚀

[2022-10-01 15:22] #798 closed

[2022-10-01 15:29] madhur-tandon commented on #799
Should we close this now @tedpatrick?

[2022-10-01 16:05] tedpatrick commented on #799
Closed by https://github.com/pyscript/pyscript/pull/809

[2022-10-01 16:05] #799 closed

[2022-10-01 16:44] pauleveritt opened #812 "Malformed TOML causes browser hang"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

With the new release and shift to TOML, I'm having some issues if the TOML is malformed. For example:

[code]

Opening this in Firefox causes the tab to never load, display

[2022-10-02 10:04] madhur-tandon commented on #812
Seems like the TOML parser doesn't error out and hangs instead. CC: @tedpatrick

[2022-10-02 12:43] Kali95739 commented on #462
Yes you can with node lol

[2022-10-03 12:40] do-me commented on #595
I finally found the time for testing binary downloads from the virtual file system. I wrote a simple function that takes care of everything and saves a pandas excel export to the local file system:

[code]
Working example [here](https://geo.rocks/post/pyscript-jupyter-notebook/#3-load-manipulate-and-export-excel-file-in-pyscript).

Coming back to the [original purpose of this issue](https://github

[2022-10-03 19:28] madhur-tandon commented on #812
Looking in https://github.com/pyscript/pyscript/pull/813, still in discovery phase though

[2022-10-03 20:46] tedpatrick commented on #812
Valid. Looks like rollup packaging mangled the errors coming out of TOML lib.

[2022-10-04 07:43] #812 closed

[2022-10-04 12:59] marimeireles commented on #296
I'm going to do it, but if anyone feel like this is different enough, please feel free to re-open it :)

[2022-10-04 12:59] #296 closed

[2022-10-04 13:00] antocuni opened #818 "The <py> icon shown in the docs is not transparent"
This is very minor, but it annoys me :)
Screenshot of the docs using the default dark theme:
![image](https://user-images.githubusercontent.com/344507/193825395-0dccc7aa-5ac2-49b4-8b59-5f24908dc121.png)

Screenshot of the docs using the light theme; you can see that the icon has still the bg color of the dark theme:
![image](https://user-images.githubusercontent.com/344507/193825605-18e3ca3c-efc5-

[2022-10-04 13:00] marimeireles commented on #324
@antocuni the idea is that we tackle this, correct? Or are we're closing it as resolved?

[2022-10-04 13:03] marimeireles commented on #331
I wonder if this discussion goes in the direction of what Dominik is tackling here?
https://github.com/pyscript/pyscript/issues/595#issuecomment-1265382412

[2022-10-04 13:04] antocuni opened #819 "The main page of the docs shows a warning"
The home page of the docs show this:
[code]

Screenshot:
![image](https://user-images.githubusercontent.com/344507/193825856-b7443b4d-9a65-49fc-acf0-225478c06f51.png)

It seems the remaining of some template that we used?

[2022-10-04 13:06] pauleveritt commented on #581
In the PyScript Collective app, I have a little console script that automates the downloading. I only mention it because, in the future, the pyscript cli might spawn such a thing.

[2022-10-04 13:08] marimeireles commented on #338
We're soon going to have amazing docs on it!
Keep an eye on the work that Domink is doing https://github.com/pyscript/pyscript/issues/595#issuecomment-1265382412
Cheers, folks.

[2022-10-04 13:08] #338 closed

[2022-10-04 13:09] #342 closed

[2022-10-04 13:09] marimeireles commented on #343
This will soon be outdated by https://github.com/pyscript/pyscript/pull/775, I believe.

[2022-10-04 13:18] marimeireles commented on #348
Yes, I think this is a close for now... We're still using the discourse as a community forum.
But we do have a space for your video @sugatoray, for now we have an awesome list and we'd love to host it there!
Please open a PR on the pyscript-collective and change this file adding yourself there: https://github.com/pyscript/pyscript-collective/blob/main/awesome-pyscript.md
Cheers and thank you for t

[2022-10-04 13:18] #348 closed

[2022-10-04 13:21] sugatoray commented on #348
@marimeireles Sounds good. Thank you. Will send a PR.

[2022-10-04 13:25] antocuni opened #820 "<py-config> should NOT go to <head>"
Custom elements are not allowed in `<head>`. For example, if you run this in [w3c validator](https://validator.w3.org/nu/#textarea) it passes:
[code]

But this fails:
[code]
![image](https://user-images.githubusercontent.com/344507/193830417-cb6dc0a3-aaba-4574-8300-7f1fea23a682.png)

We should:
1. Fix all our examples, e.g.:
https://github.com/pyscript/pyscript/blob/c75f885cb4661b25cd37fa52c7cf20d

[2022-10-04 13:30] #343 closed

[2022-10-04 13:35] marimeireles commented on #361
It would!
Interesting thing to tackle. :)

[2022-10-04 13:39] marimeireles commented on #375
Yes, this will be modular in the future.
But it's work that has to be done.
Thanks for opening the issue :)

[2022-10-04 13:40] #380 closed

[2022-10-04 13:40] marimeireles commented on #382
Seems like this was resolved.
Thanks for the input @nmstoker!

[2022-10-04 13:40] #382 closed

[2022-10-04 13:41] #386 closed

[2022-10-04 13:44] marimeireles commented on #412
I don't understand this issue.
Can you please explain it further?
Thank you!

[2022-10-04 13:44] marimeireles commented on #412
Maybe it's resolved already?

[2022-10-04 13:48] marimeireles commented on #475
I'm not sure if we should close this as a `no-fix`... because it's probably really low in our priority list to make NN libs work with pyscript. Thoughts here @tedpatrick?
Thanks!

[2022-10-04 13:48] #484 closed

[2022-10-04 13:48] marimeireles commented on #484
Not relevant anymore.
Works again.

[2022-10-04 13:49] marimeireles commented on #491
Thank you @JeffersGlass !

[2022-10-04 13:49] #491 closed

[2022-10-04 13:49] #531 closed

[2022-10-04 13:49] marimeireles commented on #493
I believe the warning was fixed? :)
If not feel free to re-open it.
Cheers, folks.

[2022-10-04 13:49] #493 closed

[2022-10-04 13:51] #352 closed

[2022-10-04 13:53] marimeireles commented on #350
I'm not sure this is an actual issue though.
Do we have any actual problems here?
Feel free to re-open with more information!
Thanks.

[2022-10-04 13:53] #350 closed

[2022-10-04 13:56] JeffersGlass commented on #820
I wonder if this is a normative issue with the validator, or an actual violation of [the spec](https://html.spec.whatwg.org/multipage/custom-elements.html#custom-elements). I can't see anything in the spec that forbids the use of custom elements in `<head>`, but I confess this isn't my area of expertise. Maybe @tedpatrick can shed some light?

[2022-10-04 13:57] #582 closed

[2022-10-04 13:58] marimeireles commented on #546
@JeffersGlass no one is working on this.
If you have the space, please go for it! ☺️

[2022-10-04 14:05] marimeireles commented on #496
Closing due to inactivity, please feel free to re-open!

[2022-10-04 14:05] #496 closed

[2022-10-04 14:06] #505 closed

[2022-10-04 14:06] marimeireles commented on #506
Let's do it on the Pyscript-collective?
I'll move the issue, I think the discussion fits there better.

[2022-10-04 14:07] marimeireles commented on #508
Wow!
This is so awesome!
I'm looking so forward for this. We need to set up a system, but it'd be amazing to have all these languages in our docs.
Thank you so much for offering to help! ❤️

[2022-10-04 14:08] marimeireles commented on #509
Closing as inactive.
Feel free to re-open if you still think we have an issue here.
Thanks for the input.

[2022-10-04 14:08] #509 closed

[2022-10-04 14:10] marimeireles commented on #518
Closed as fixed.
I hope this is correctly handled?
If not, please re-open!
Thank you!

[2022-10-04 14:10] #518 closed

[2022-10-04 14:11] marimeireles commented on #519
@madhur-tandon I think this is not relevant anymore due to your pr?

[2022-10-04 14:12] marimeireles commented on #525
@madhur-tandon could you please check this one too?

[2022-10-04 14:17] marimeireles commented on #592
Oh cool, so that means that the 3.11 is working?
This is good news for @ntoll
Thanks for letting us know @pmp-p, we're big fans of `pygame` here at PyScript 😄
I'm closing this as no-fix for now... Maybe in the future?

[2022-10-04 14:17] #592 closed

[2022-10-04 14:19] marimeireles commented on #583
Being worked on by @do-me here: https://github.com/pyscript/pyscript/issues/595#issuecomment-1265382412

[2022-10-04 14:26] marimeireles commented on #795
Thanks for the review.
I'll check this later this week. :)

[2022-10-04 14:30] marimeireles commented on #683
This is a dup!
Thank you @philippjfr.

[2022-10-04 14:30] #683 closed

[2022-10-04 14:33] marimeireles commented on #627
Also this one @madhur-tandon.
Thanks!!!

[2022-10-04 14:33] #619 closed

[2022-10-04 14:51] JeffersGlass commented on #519
I think it would be the same thing now, but for the paths specification in `<py-config>`?

The gist is - right now anything specified in `paths` is copied directly to the same location in the Emscripten file system as the running Python code, which flattens the directory structure of [Python Packages](https://docs.python.org/3/tutorial/modules.html#packages) and makes them... well, not packages an

[2022-10-04 15:01] tedpatrick opened #824 "New PyScript Maintainer: Paul Everitt"
We are pleased to announce the addition of [Paul Everitt](https://github.com/pauleveritt) as a PyScript Maintainer. Paul has been very influential within the [PyScript Collective](https://github.com/pyscript/pyscript-collective). He brings much Web knowledge to the team's architecture discussions, and his proposed architectures are inspirational and pythonic. His work on PyScript extends a long hi

[2022-10-04 15:02] tedpatrick opened #825 "New PyScript Maintainer: Jeff Glass"
We are pleased to announce the addition of [Jeff Glass](https://github.com/JeffersGlass) as a PyScript Maintainer. Jeff has been very active within the PyScript community ([PyScript Discord](https://discord.gg/xrWa4wdd)). Jeff recently published an excellent summary of the [PyScript 2022.09.1 release](https://jeff.glass/post/whats-new-pyscript-2022-09-1/) and his work on [Rich with PyScript](https

[2022-10-04 15:04] antocuni commented on #824
welcome to the team @pauleveritt ! And thanks for all your contributions so far! 🎉

[2022-10-04 15:05] antocuni commented on #825
welcome to the team @JeffersGlass! I look forward to work more with you 🎉

[2022-10-04 15:11] tedpatrick commented on #825
Jeff, Thank you. Onward! 🚀

[2022-10-04 15:12] tedpatrick commented on #824
Paul, I truly enjoy our conversations and hope we can enable your vision on PyScript. Thank you. Onward! 🚀

[2022-10-04 15:13] JeffersGlass commented on #825
Thanks @tedpatrick, @antocuni et al! Looking forward to working more with everyone.

[2022-10-04 15:16] #601 closed, assigned to nobody

[2022-10-04 15:16] #615 closed, assigned to marimeireles

[2022-10-04 15:17] marimeireles commented on #824
Welcome! 😄

[2022-10-04 15:17] marimeireles commented on #825
Yesss! Welcome @JeffersGlass!

[2022-10-04 15:25] pzwang commented on #824
Thank you, Paul! And welcome!

[2022-10-04 15:25] pzwang commented on #825
Congrats and welcome, Jeff!

[2022-10-04 15:29] ntoll commented on #824
Welcome @pauleveritt, looking forward to collaborating.

[2022-10-04 15:30] ntoll commented on #825
:wave: @JeffersGlass

[2022-10-04 15:33] madhur-tandon commented on #824
Welcome @pauleveritt :)

[2022-10-04 15:33] madhur-tandon commented on #825
Welcome @JeffersGlass :)

[2022-10-04 15:35] ayirpconda commented on #824
Welcome @pauleveritt !!!

[2022-10-04 15:38] JeffersGlass commented on #296
I think it's good to leave closed, but I think it's more closely related to #810 - that issue is essentially looking to tidy up the solution proposed earlier in this issue.

[2022-10-04 15:57] JeffersGlass commented on #824
Excited to work with you @pauleveritt!

[2022-10-04 17:10] rod2ik commented on #518
This issue is solved for me two, replacing `alpha` by the `latest` of course :

[code]

Thanks very much for your reactivity and action  ! :)

[2022-10-04 19:43] #820 closed

[2022-10-04 19:54] #819 closed

[2022-10-04 22:25] pauleveritt commented on #693
Let's drop this. @tedpatrick covered it in #829

[2022-10-04 22:25] #693 closed

[2022-10-04 22:26] pauleveritt commented on #694
Let's drop this also. I'll keep using it for collective stuff.

[2022-10-04 22:26] #694 closed

[2022-10-05 12:14] joemarshall commented on #808
Is that async as in javascript scripts? i.e. with that syntax, by default it downloads the python, loads the interpreter and holds up the rest of the page until that is done? I think that's bad if so - unless the interpreter startup speeds up massively, holding up the page load for interpreter load would be not good I think.

If it is as in runPythonAsync / runPython, I think that async isn't a go

[2022-10-05 12:21] joemarshall commented on #808
I think for me, the biggy is what to do about the js object when pyscript is run in a worker.  Should there be a document proxy, and if so, how the heck does it work (threads, stack-switching, ...) If crossSiteIsolation is enabled it is trivial. If the stack-switching proposal (or the call promises proposal) finally gets accepted and into browsers, it is also pretty easy. But until then there is g

[2022-10-05 14:18] JeffersGlass commented on #808
@joemarshall I'd agree with you:, using the `async` as a keyword for a py-script tag is probably not the right thing, since as you say it doesn't necessarily mean the same thing as `async` in a script tag - from discussions elsewhere, I believe the thought is to use it in the sense of` runPython/runPythonAsync.

A more accurate (but wordier) version of the keyword might be `allow-top-level-await`,

[2022-10-06 01:52] #825 closed

[2022-10-06 01:52] #824 closed

[2022-10-06 08:14] spaetz commented on #818
Based on https://pyscript.net/assets/images/pyscript-sticker-black.svg, here is a .png version that should have a transparent background. It is unclear what font you used to create this logo, so I had to go by with the existing one. This should serve as a suitable replacement for https://github.com/pyscript/pyscript/blob/main/docs/_static/images/avatar.jpg. Feel free to use it under the Apache 2 l

[2022-10-06 10:34] tedpatrick commented on #678
With the changes in script.evaluate() in #796, this is now resolved. I have removed the XFAIL from the test in https://github.com/pyscript/pyscript/pull/829 and it is passing consistently. Also in the 2022.06.1 release, the example is working correctly.

https://pyscript.net/examples/webgl/raycaster/index.html

Closing issue

[2022-10-06 10:34] #678 closed

[2022-10-06 10:37] fpliger commented on #824
Welcome @pauleveritt ! Really excited... and thank you for all the contributions!! 🎉 🎉

[2022-10-06 10:37] fpliger commented on #825
Welcome @JeffersGlass  ! Really excited... and thank you for all the contributions!! 🎉 🎉

[2022-10-06 13:37] marimeireles commented on #735
Adding a snippet of an example of things that don't work:
[code]
White spaces in `divs` but they do work on `pre`s so, maybe that's a solution? (Don't trust me though, I don't know web)

[2022-10-06 16:16] JeffersGlass opened #834 "pre-commit CI is failing"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

Starting with commit c75f885c, the pre-commit CI check is failing for all commits and PRs. Neither `eslint` nor `tsc` seem to show those errors when building locally, for e

[2022-10-06 17:18] dj-fiorex opened #835 "Behaviour of py-*: how to pass event"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a solution or duplication
- [X] I already searched in Google and didn't find any good information or help

### What happened?

Hello, i already used the py-* functionality to call a python function like this:

[code]

Now this doesn't work anymore.
I noted that if i put brackets on function call li

[2022-10-06 17:49] JeffersGlass commented on #835
This behavior was changed as part of #686, which was included in the 2022.09.1 release of PyScript which was published last week. If you're linking to `https://pyscript.net/latest/pyscript.js`, then that's what probably broke your code.

The new syntax is:

[code]

This change was made to more closely mirror [JavaScript's onevent syntax](https://developer.mozilla.org/en-US/docs/Web/Events/Event_ha

[2022-10-06 20:15] tedpatrick commented on #834
ESLINT       ==> Strict
TypeScript ==> Not Strict

This is the source of the ESLint warnings. In strict, Typescript shows 200+ warnings. Once things settle a bit, we will address in a PR.

[2022-10-06 20:45] dj-fiorex commented on #835
ok thank you for the explanation!
Maybe the best thing to do is to have some examples that highlight the usage of py-* attributes. Where can i create it?

[2022-10-06 21:33] tedpatrick commented on #835
Yes, we need a way to get the event passed cleanly into the function. Looks like an area of work.

[2022-10-06 21:42] dj-fiorex commented on #835
I'm ready to give some help in my free time, where can i look to get an overview of the event handler?

[2022-10-06 21:56] JeffersGlass commented on #835
Thanks @dj-fiorex! That would be swell. The logic for the `py-*event` handling is in [pyscript.ts](https://github.com/pyscript/pyscript/blob/66b57bf812dcc472ed6ffee075ace5ced89bbc7c/pyscriptjs/src/components/pyscript.ts#L119-L260).

Perhaps writing up an explanation or reference-guide for the [docs section](https://github.com/pyscript/pyscript/tree/main/docs) would be the best place for that info

[2022-10-06 22:03] JeffersGlass commented on #834
I think there must be something about how the pre-commit CI action works that I don't understand. eslint warnings shouldn't fail the build step - we've had a few hundred warnings for months and months, symptom of a rapidly evolving codebase.. Now it seems like in GitHub CI it's actually _erroring out_...

But running  `pre-commit run --all-files` locally has lots of _warnings_ locally, but no erro

[2022-10-06 22:31] tedpatrick commented on #835
I am working on this at 2 levels:

1. How do we subscribe py-{event} at startup
2. How do we support adding a py-{event} attribute at runtime after PyScript has initialized (mutation observer)

[code]

In case 2, if the target function has 1 argument, it gets passed the event. If no arguments, no event.

[2022-10-06 22:48] tedpatrick commented on #835
You can also use a create_proxy
[code]

[2022-10-06 22:54] JeffersGlass commented on #835
+1 to sometime having a solution that works when attributes are added after initialization - from the amount of times this has come up recently, I suspect PyScript will ultimately be one large mutation observer. And not in a bad way!

-1 to case 2: that was the sole behavior in 2022.06.1, and we specifically moved away from it with PR #686, because it's not how script onevent syntax works. If it's

[2022-10-07 01:43] tedpatrick commented on #835
That syntax is what several leading JS frameworks do today, it isn't standard but it is the common syntax for assigning attributes function values by name. [vue](https://vuejs.org/guide/essentials/event-handling.html#method-handlers) [react](https://reactjs.org/docs/handling-events.html) [svelte](https://svelte.dev/tutorial/component-events)

Much is possible, the key is what interface is best for

[2022-10-07 05:01] madhur-tandon commented on #834
Is it possible to SSH into the runners to investigate? It could be done with circleCI, but I am not sure with Github Actions.

[2022-10-07 14:17] marimeireles commented on #835
Hey @dj-fiorex, my input for docs is that we may start introducing real content to the [Reference](https://docs.pyscript.net/latest/reference/index.html) part.
I guess it'd be nice to have a) an explanation on how to use the function, b) a list of the possible events, c) maybe @tedpatrick's example on how to use it through proxy is useful to have it there?
Thank you for offering to contribute 🎉 th

[2022-10-07 14:27] tedpatrick commented on #834
I do not think anything is wrong with CICD or ESLint, this is highlighting that we lack TypeScript types in many areas. If we fix this root cause, everything improves.

[2022-10-07 15:27] antocuni commented on #834
For reference, I reported it upstream:
https://github.com/pre-commit/pre-commit/issues/2537

The author seems to think that it's a problem of my local environment, although I don't think it's the case. Do you confirm that `pre-commit run --all-files` passes on all your machines?

I still think it's a bug of pre-commit: if it passes locally, it should passes on CI. It it fails on CI, it should fail

[2022-10-07 19:40] tedpatrick opened #836 "PyScript Community Call - October 18, 2022 11AM CST"
On October 18, 2022, at 11 AM CST, the PyScript Core Team will host our 1st PyScript Community Call.

<img src="https://user-images.githubusercontent.com/35942272/194639665-a9279824-bfab-4a14-9c05-f499a9d4447e.svg" width="200">

## PyScript Community Call
- Status Report
- Highlights
- Q&A

We will be organizing the Q&A from questions posted to this issue, please ask questions in advance below.

M

[2022-10-07 21:46] tedpatrick commented on #810
The only PyScript element we need to hide is `<py-config>`, let's simply list the tags that need to be hidden i the css.

<py-script> elements currently generate child elements within <py-script> tag and thus setting it to display:none results in all child DOM elements being hidden from view.

[2022-10-08 21:05] #551 closed

[2022-10-10 08:24] msachsenhauser opened #842 "Add index-url option to py-config as external source for .whl files"
**Checklist**

- [x] added a descriptive title
- [x] searched for other issues and couldn't find a solution or duplication
- [x] Describe the behavior you observed, and the behavior you had expected.

**What happened?**

Inside a corporate network / behind a proxy you have to specify all urls to all relevant wheels, which makes the pyscript setup unfeasable.

**Proposal**

Would it be possible to

[2022-10-10 12:19] JeffersGlass commented on #842
Interesting! Just so we understand better - it sounds like the issue is that corporate network and/or proxy are blocking some actions of micropip downloading packages from PyPI, but specifying their location by a specific wheel on PyPI does work (eg. a `files.pythonhosted.org` address)? Have I got that right?

Could you include either a copy/paste or image of the specific errors you see when the i

[2022-10-10 15:25] msachsenhauser commented on #842
Basically, we are not allowed to fetch packages **directly** from sources outside of the corporate network. Instead we have to use an internal package proxy for severall reasons - therefore specifying `files.pythonhosted.org` doesn't work (but the link to the wheel on the internal server 'should' work, _unsure which platform the packages are requested for_).

**Expectation**:

When a .whl-file is

[2022-10-11 09:04] nixjdm commented on #149
Yes, precisely. Better IPC would be great, but the DOM would be sufficient
for cross WASM communication.

On Tue, May 17, 2022, 6:30 AM Antonio Cuni ***@***.***> wrote:

[2022-10-11 12:20] #432 closed

[2022-10-11 13:39] marimeireles commented on #836
We should also post it on:
- twitter
- anaconda nucleos
- discord channel
:)

[2022-10-11 13:40] marimeireles commented on #771
Closing this as no response was given.
Feel free to re-open it with more info.
Cheers.

[2022-10-11 13:40] #771 closed

[2022-10-11 17:27] #810 closed

[2022-10-11 18:48] madhur-tandon commented on #519
@JeffersGlass To begin with, I started with the example you showed i.e.

[code]

with the index.html having the following:

[code]

However, the above doesn't work, so I tried the other way instead i.e.

[code]

and it works. Could you confirm this if it occurs for you as well? i.e. if one way of importing works and the other doesn't?

We can then look at the package and retaining the directory st

[2022-10-11 20:26] JeffersGlass commented on #519
Hi @madhur-tandon - both examples above work for me, with the _minor_ correction in my original code that print_saxophone requires quotes around the emoji:

[code]

Would you confirm whether either method works for you with that adjustment?

[2022-10-11 20:47] pauleveritt commented on #519
FWIW, regarding importing *packages*, @ryanking13 had a Pyodide package he worked on: https://github.com/ryanking13/pyodide-importer

Here was the discussion: https://github.com/pyodide/pyodide/issues/1917

He's no longer updating it, but he discovered lots of edge cases. Useful info.

[2022-10-11 20:57] JeffersGlass commented on #519
I have yet to see this fail for me with either version... interesting. It's essentially the same process that's been in the `todo.html` example for ages though, yeah? Nothing fancy going in here that would specifically break it that I can see.

[2022-10-11 22:13] kathatherine opened #846 "<py-script> tag needs reference docs"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a duplication
- [X] I already searched in Google and didn't find any good information or help

### What is the issue/comment/problem?

The `<py-script>` tag needs a reference doc that explains what the tag is for and any attributes related to it.

The doc file should be at `source/reference/py-scri

[2022-10-11 22:15] kathatherine opened #847 "<py-config> tag needs reference docs"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a duplication
- [X] I already searched in Google and didn't find any good information or help

### What is the issue/comment/problem?

The `<py-config>` tag needs a reference doc that explains what the tag is for and any attributes related to it.

The doc file should be at `source/reference/py-conf

[2022-10-11 22:15] kathatherine opened #848 "<py-button> needs reference docs"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a duplication
- [X] I already searched in Google and didn't find any good information or help

### What is the issue/comment/problem?

The `<py-button>` tag needs a reference doc that explains what the tag is for and any attributes related to it.

The doc file should be at `source/reference/py-butt

[2022-10-11 22:16] kathatherine opened #849 "<py-repl> needs reference docs"
### Checklist

- [X] I added a descriptive title
- [X] I searched for other issues and couldn't find a duplication
- [X] I already searched in Google and didn't find any good information or help

### What is the issue/comment/problem?

The `<py-repl>` tag needs a reference doc that explains what the tag is for and any attributes related to it.

The doc file should be at `source/reference/py-repl.m